<template>
  <div class="main-container">
    <b-btn class="logout" v-if="isLogged" @click="logout()" variant="outline-dark" size="sm">Wyloguj</b-btn>
    <h2>PANEL ADMINISTRACYJNY</h2>
    <b-navbar toggleable="md" type="dark" variant="dark">
      <b-navbar-toggle target="nav_collapse"></b-navbar-toggle>
      <b-collapse is-nav id="nav_collapse">
        <b-navbar-nav fill>
          <b-nav-item :to="{name:'CinemaPanel'}" append>KINA</b-nav-item>
          <b-nav-item :to="{name:'RoomPanel'}" append>SALE</b-nav-item>
          <b-nav-item :to="{name:'ArmchairPanel'}" append>FOTELE</b-nav-item>
          <b-nav-item :to="{name:'StaffPanel'}" append>OSOBY ZAANGAŻOWANE</b-nav-item>
          <b-nav-item :to="{name:'MoviePanel'}" append>FILMY, OBSADA i REŻYSERIA</b-nav-item>
          <b-nav-item :to="{name:'ShowPanel'}" append>REPERTUAR</b-nav-item>
          <b-nav-item :to="{name:'TicketTypePanel'}" append>TYPY BILETÓW</b-nav-item>
          <b-nav-item :to="{name:'EmployeePanel'}" append>PRACOWNICY</b-nav-item>
        </b-navbar-nav>
      </b-collapse>
    </b-navbar>
    <div class="container">
      <router-view/>
    </div>
  </div>
</template>

<script>

  import {loginService} from "../../services/login.service";
  import {mapActions, mapGetters} from "vuex";

  export default {
    name: "AdminPanel",
    data() {
      return {
        cinemaId: null
      }
    },
    methods: {
      ...mapActions({
        storeLogout: 'store/storeLogout'
      }),
      logout() {
        loginService.logout();
        this.storeLogout(false);
        setTimeout(() => {
          this.$router.push({name: 'AdminLogin'});
        }, 500)
      }
    },
    computed: {
      ...mapGetters({
        isLogged: 'store/isLogged'
      })
    }
  }
</script>

<style scoped>

  .buttons {
    display: flex;
    flex-flow: row;
    flex-wrap: wrap;
    justify-content: flex-start;
  }

  .btn {
    margin: 4px;
  }

  .nav-link {
    margin: 2px;
    padding-bottom: 0;
    border-bottom: solid 2px #6c757d;
  }

  .logout {
    position: absolute;
  }

  h2 {
    text-align: center;
  }

</style>
