<template>
  <div>
    <b-btn v-if="isLogged" @click="logout()" variant="outline-dark" size="sm">Wyloguj</b-btn>
    <admin-login-form/>
  </div>
</template>

<script>
  import AdminLoginForm from "../../components/admin/AdminLoginForm"
  import {mapActions, mapGetters} from "vuex";
  import {loginService} from "../../services/login.service";

  export default {
    components: {AdminLoginForm},
    name: "AdminLogin",
    data() {
      return {}
    },
    created() {

    },
    methods: {
      ...mapActions({
        storeLogout: 'store/storeLogout'
      }),

      logout() {
        loginService.logout();
        this.storeLogout(false);
        setTimeout(() => {
          this.$router.push({name: 'AdminLogin'});
        }, 500)
      }
    },
    computed: {
      ...mapGetters({
        isLogged: 'store/isLogged'
      })
    }
  }
</script>

<style lang="scss" scoped>
  .btn {
    margin: 2px;
  }
</style>
