<template>
  <div class="armchair-panel-content">
    <h3>DODAJ/EDYTUJ FOTELE</h3>
    <room-edit-armchairs/>
  </div>
</template>

<script>
  import RoomEditArmchairs from "../../components/admin/RoomEditArmchairs";

  export default {
    name: "ArmchairPanel",
    components: {RoomEditArmchairs},
  }
</script>

<style lang="scss" scoped>
  .armchair-panel-buttons {
    text-align: center;
  }

  h3 {
    margin-top: 20px;
  }
</style>
