<template>
  <div id="cinema-panel-main-wrapper" class="cinemaPanelMainWrapper">
    <h3>LISTA KIN</h3>
    <b-form-input class="filter" v-model="filter" placeholder="Wyszukaj..."/>
    <b-table :current-page="currentPage"
             :per-page="perPage"
             :fields="fields"
             :items="cinemas"
             @row-dblclicked="selectRow"
             bordered
             small
             hover
             responsive
             :filter="filter"
             @filtered="onFiltered"
             head-variant="dark">

    </b-table>
    <b-pagination :total-rows="totalRows" :per-page="perPage" v-model="currentPage" class="my-0"/>
    <div class="button-wrapper">
      <b-btn @click="addCinema" variant="primary">Dodaj kino</b-btn>
      <b-btn @click="editCinema" variant="secondary">Edytuj kino</b-btn>
      <b-btn @click="closeForm" v-if="showEditCinema || showAddCinema" variant="light">Zamknij formularz</b-btn>
    </div>

    <b-form v-if="showEditCinema" @submit.prevent="onSubmit">
      <h3>Edytuj</h3>
      <b-alert show variant="warning" dismissible>
        Kliknij dwukrotnie w wybrany rekord, aby edytować.
      </b-alert>
      <b-form-group id="idFieldset"
                    label-for="idInput">
        <b-form-input id="idInput"
                      type="text"
                      :disabled="true"
                      v-model="form.id">
        </b-form-input>
      </b-form-group>
      <b-form-group
        id="townFieldset"
        label="Podaj miejscowość"
        label-for="townInput"
        :invalid-feedback="townInvalidFeedback"
        :state="townState">
        <b-form-input id="townInput" :state="townState" v-model.trim="form.town" required></b-form-input>
      </b-form-group>

      <b-form-group
        id="streetFieldset"
        label="Podaj ulicę"
        label-for="streetInput"
        :invalid-feedback="streetInvalidFeedback"
        :state="streetState">
        <b-form-input id="streetInput" :state="streetState" v-model.trim="form.street" required></b-form-input>
      </b-form-group>

      <b-form-group
        id="buildingNumberFieldset"
        label="Podaj numer budynku"
        label-for="buildingNumberInput"
        :invalid-feedback="buildingNumberInvalidFeedback"
        :state="buildingNumberState">
        <b-form-input id="buildingNumberInput" :state="buildingNumberState" v-model.trim="form.building_number"
                      required></b-form-input>
      </b-form-group>

      <b-form-group
        id="phoneNumberFieldset"
        label="Podaj numer telefonu"
        label-for="phoneNumberInput"
        :invalid-feedback="phoneNumberInvalidFeedback"
        :state="phoneNumberState">
        <b-form-input type="text" id="phoneNumberInput" :state="phoneNumberState" v-model.trim="form.phone_number"
                      required></b-form-input>
      </b-form-group>

      <b-form-group
        id="emailFieldset"
        label="Podaj e-mail"
        label-for="emailInput"
        :invalid-feedback="emailInvalidFeedback"
        :state="emailState">
        <b-form-input id="emailInput" :state="emailState" v-model.trim="form.email" required></b-form-input>
      </b-form-group>

      <b-button type="submit" variant="primary">Zapisz</b-button>
    </b-form>
    <cinema-form v-if="showAddCinema" @added="fetchData"/>
  </div>
</template>

<script>
  import CinemaForm from "../../components/admin/CinemaForm";
  import {adminService} from "../../services/admin.service";

  export default {
    name: "CinemaPanel",
    components: {CinemaForm},
    data() {
      return {
        filter: null,
        cinemas: [],
        totalRows: null,
        currentPage: 1,
        perPage: 10,
        form: {
          id: null,
          town: '',
          street: '',
          building_number: '',
          phone_number: '',
          email: '',
        },
        fields: [
          {key: 'id', label: 'ID', sortable: true},
          {key: 'town', label: 'Miejscowość', sortable: true},
          {key: 'street', label: 'Ulica', sortable: true},
          {key: 'building_number', label: ' Numer budynku', sortable: true},
          {key: 'phone_number', label: 'Numer telefonu', sortable: true},
          {key: 'email', label: 'E-mail', sortable: true},
        ],
        showAddCinema: false,
        showEditCinema: false,
      }
    },
    created() {
      this.fetchData();
    },
    methods: {
      onSubmit() {
        adminService.addOrUpdateCinema(this.form)
          .then(() => {
            this.fetchData();
          });
      },
      selectRow(item, index, event) {
        this.form = item;
      },
      fetchData() {
        this.$http.get(`/api/user/getCinema`)
          .then(response => {
            this.cinemas = response.data.data;
            this.totalRows = this.cinemas.length;
            this.$forceUpdate();
          })
      },
      addCinema() {
        this.showAddCinema = true;
        this.showEditCinema = false;
      },
      editCinema() {
        this.showAddCinema = false;
        this.showEditCinema = true;
      },
      closeForm() {
        this.showAddCinema = false;
        this.showEditCinema = false;
        this.form = {
          id: null,
          town: '',
          street: '',
          building_number: '',
          phone_number: '',
          email: '',
        };
      },
      onFiltered(filteredItems) {
        this.totalRows = filteredItems.length
        this.currentPage = 1
      }
    },
    computed: {
      emailState() {
        const re = /^(([^<>()\[\]\\.,;:\s@"]+(\.[^<>()\[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
        return re.test(this.form.email);
      },
      emailInvalidFeedback() {
        if (this.emailState === true && this.form.email.length <= 254) {
          return '';
        } else if (this.form.email.length > 0 && this.emailState === false) {
          return 'E-mail nieprawidłowy.';
        } else if (this.form.email.length > 254) {
          return 'Podany e-mail jest zbyt długi.';
        } else {
          return 'Pole e-mail nie może być puste.';
        }
      },
      townState() {
        return this.form.town.length >= 1 && this.form.town.length <= 30;
      },
      townInvalidFeedback() {
        if (this.form.town.length >= 1 && this.form.town.length <= 30) {
          return '';
        } else if (this.form.town.length > 0 || this.form.town.length > 30) {
          return 'Miasto musi składać się z 1 do 30 znaków.';
        } else {
          return 'Miasto musi składać się z 1 do 30 znaków.';
        }
      },
      buildingNumberState() {
        return this.form.building_number.length >= 1 && this.form.building_number.length <= 6;
      },
      buildingNumberInvalidFeedback() {
        if (this.form.building_number.length >= 1 && this.form.building_number.length <= 6) {
          return '';
        } else if (this.form.building_number.length > 0 || this.form.building_number.length > 6) {
          return 'Numer budynku musi składać się z 1 do 6 znaków.';
        } else {
          return 'Numer budynku musi składać się z 1 do 6 znaków.';
        }
      },
      streetState() {
        return this.form.street.length >= 1 && this.form.street.length <= 30;
      },
      streetInvalidFeedback() {
        if (this.form.street.length >= 1 && this.form.street.length <= 30) {
          return '';
        } else if (this.form.street.length > 0 || this.form.street.length > 30) {
          return 'Ulica musi składać się z 1 do 30 znaków.';
        } else {
          return 'Ulica musi składać się z 1 do 30 znaków.';
        }
      },
      phoneNumberState() {
        return this.form.phone_number.length >= 9 && this.form.phone_number.length <= 12;
      },
      phoneNumberInvalidFeedback() {
        if (this.form.phone_number.length >= 9 && this.form.phone_number.length <= 12) {
          return '';
        } else if (this.form.phone_number.length > 0 || this.form.phone_number.length > 12) {
          return 'Numer telefonu musi składać się z 9 do 12 znaków.';
        } else {
          return 'Numer telefonu musi składać się z 9 do 12 znaków.';
        }
      },
    },
  }
</script>

<style lang="scss" scoped>
  .cinemaPanelMainWrapper {
    margin: 20px auto;
  }

  form {
    margin-top: 20px;
  }

  ul {
    &.my-0 {
      margin: auto;
      text-align: center;
    }
  }

  .button-wrapper {
    margin-top: 20px;
  }

  .filter {
    margin-bottom: 10px;
  }
</style>
