<template>
  <div id="employee-panel-main-wrapper" class="employeePanelMainWrapper">
    <h3>LISTA PRACOWNIKÓW</h3>
    <b-form-input class="filter" v-model="filter" placeholder="Wyszukaj..."/>
    <b-table
      :items="employees"
      bordered
      small
      hover
      responsive
      @filtered="onFiltered"
      @row-dblclicked="selectRow"
      :current-page="currentPage"
      :per-page="perPage"
      :fields="fields"
      :filter="filter"
      head-variant="dark">
      <template slot="cinema" slot-scope="row">
        {{row.item.cinema.town}}, {{row.item.cinema.street}} {{row.item.cinema.building_number}}
      </template>
      <template slot="role" slot-scope="row">
        <span v-if="row.item.credentials.role === 'ADMIN'">ADMINISTRATOR</span>
        <span v-else-if="row.item.credentials.role === 'EMPLOYEE'">PRACOWNIK</span>
      </template>
      <template slot="active" slot-scope="row">
        <span v-if="row.item.active"><b>Aktywny</b></span>
        <span v-else><b>Nieaktywny</b></span>
      </template>
    </b-table>
    <b-pagination :total-rows="totalRows" :per-page="perPage" v-model="currentPage" class="my-0"/>

    <div class="button-wrapper">
      <b-btn @click="addEmployee" variant="primary">Dodaj pracownika</b-btn>
      <b-btn @click="editEmployee" variant="secondary">Edytuj pracownika</b-btn>
      <b-btn @click="closeForm" v-if="showEditEmployee || showAddEmployee" variant="light">Zamknij formularz</b-btn>
    </div>

    <b-form v-if="showEditEmployee" @submit.prevent="onSubmit">
      <h3 style="margin-top: 10px;">Edytuj</h3>
      <b-form-group id="idFieldset"
                    label-for="idInput">
        <b-form-input id="idInput"
                      type="text"
                      :disabled="true"
                      v-model="form.id">
        </b-form-input>
      </b-form-group>
      <b-form-group
        id="nameFieldset"
        label="Podaj imię"
        label-for="nameInput"
        :invalid-feedback="nameInvalidFeedback"
        :state="nameState">
        <b-form-input id="nameInput" :state="nameState" v-model.trim="form.name" required></b-form-input>
      </b-form-group>

      <b-form-group
        id="surnameFieldset"
        label="Podaj nazwisko"
        label-for="surnameInput"
        :invalid-feedback="surnameInvalidFeedback"
        :state="surnameState">
        <b-form-input id="surnameInput" :state="surnameState" v-model.trim="form.surname" required></b-form-input>
      </b-form-group>

      <p>Wybierz kino:</p>
      <b-input-group class="filter" prepend="Szukaj:">
        <b-form-input id="input-town" v-model="filterCinema" placeholder="Podaj miejscowość"/>
      </b-input-group>
      <p class="description">Kliknij w element listy aby wybrać kino...</p>
      <div class="sizeOfBList">
        <b-list-group>
          <b-list-group-item v-for="(item, index) of filteredCinemas" :key="item.id"
                             v-bind:class="{ 'active' : isSelectedCinema(index) }" v-on:click="selectedCinema= index"
                             @click="setCinema(item)">{{item.town}}, {{item.street}} {{item.building_number}}
          </b-list-group-item>
        </b-list-group>
      </div>

      <b-form-group
        id="loginFieldset"
        label="Podaj login"
        label-for="loginInput">
        <b-form-input id="loginInput" :disabled="true" v-model.trim="form.credentials.login"></b-form-input>
      </b-form-group>

      <b-form-group
        id="passwordFieldset"
        label="Podaj hasło"
        label-for="passwordInput">
        <b-form-input type="password" :disabled="true" id="passwordInput" v-model.trim="form.credentials.password"
                      ></b-form-input>
      </b-form-group>

      <b-form-group
        id="role"
        label="Wybierz rolę"
        label-for="roleSelect">
        <b-form-select id="roleSelect" v-model="form.credentials.role" :options="roleOptions" class="mb-3" />
      </b-form-group>

      <b-form-checkbox
        id="checkbox1"
        v-model="form.active">
        Pracownik aktywny? <span v-if="form.active"> <strong>Aktywny</strong></span><span
        v-else> <strong>Nieaktywny</strong></span>
      </b-form-checkbox>
      <b-button class="submit-button" type="submit" variant="primary">Zapisz</b-button>
    </b-form>
    <employee-form v-if="showAddEmployee"/>
  </div>
</template>

<script>
  import {adminService} from "../../services/admin.service";
  import {authHeader} from "../../helper/auth-header";
  import EmployeeForm from "../../components/admin/EmployeeForm";

  export default {
    name: "EmployeePanel",
    components: {EmployeeForm},
    data() {
      return {
        filterCinema: '',
        selectedCinema: 0,
        cinemas: [],
        form: {
          id: null,
          name: '',
          surname: '',
          cinema: '',
          credentials: {
            login: '',
            password: '',
            role: '',
          },
          active: null,
        },
        employees: [],
        filter: null,
        cinemas: [],
        totalRows: null,
        currentPage: 1,
        perPage: 10,
        fields: [
          {key: 'id', label: 'ID', sortable: true},
          {key: 'name', label: 'Imię', sortable: true},
          {key: 'surname', label: 'Nazwisko', sortable: true},
          {key: 'cinema', label: 'Zatrudniony w', sortable: false},
          {key: 'role', label: 'Rola', sortable: false},
          {key: 'active', label: 'Pracownik aktywny?', sortable: true},
        ],
        roleOptions: [
          { value: 'EMPLOYEE', text: 'PRACOWNIK' },
          { value: 'ADMIN', text: 'ADMINISTRATOR' },
        ],
        showAddEmployee: false,
        showEditEmployee: false,
      }
    },
    created() {
      const requestOptions = {
        method: 'GET',
        headers: authHeader(),
      };
      const promises = [
        this.$http.get(`/api/user/getCinema`),
        this.$http.get(`/api/getEmployee`, requestOptions)
      ];
      Promise.all(promises)
        .then(response => {
          return response.map(entry => entry.data);
        }).then(data => {
        this.cinemas = data[0].data;
        this.employees = data[1].data;
      });
    },
    methods: {
      onSubmit() {
        this.form.active = true;
        adminService.addOrUpdateEmployee(this.form);
      },
      setCinema(value) {
        this.form.cinema = value;
      },
      isSelectedCinema(i) {
        return i === this.selectedCinema
      },
      onFiltered(filteredItems) {
        this.totalRows = filteredItems.length;
        this.currentPage = 1
      },
      selectRow(item, index, event) {
        this.filterCinema = item.cinema.town;
        this.form = item;
      },
      addEmployee() {
        this.showAddEmployee = true;
        this.showEditEmployee = false;
      },
      editEmployee() {
        this.showAddEmployee = false;
        this.showEditEmployee = true;
      },
      closeForm() {
        this.showAddEmployee = false;
        this.showEditEmployee = false;
        this.form = {
          id: null,
          name: '',
          surname: '',
          cinema: '',
          credentials: {
            login: '',
            password: '',
            role: '',
          },
          active: null,
        };
      },
    },
    computed: {
      filteredCinemas() {
        return this.cinemas.filter((cinema) => {
          return cinema.town.toLowerCase().match(this.filterCinema.toLowerCase());
        });
      },
      nameState() {
        return this.form.name.length >= 1 && this.form.name.length <= 30;
      },
      nameInvalidFeedback() {
        if (this.form.name.length >= 1 && this.form.name.length <= 30) {
          return '';
        } else if (this.form.name.length > 0 || this.form.name.length > 30) {
          return 'Imię musi składać się z 1 do 30 znaków.';
        } else {
          return 'Imię musi składać się z 1 do 30 znaków.';
        }
      },
      surnameState() {
        return this.form.surname.length >= 1 && this.form.surname.length <= 30;
      },
      surnameInvalidFeedback() {
        if (this.form.surname.length >= 1 && this.form.surname.length <= 30) {
          return '';
        } else if (this.form.surname.length > 0 || this.form.surname.length > 30) {
          return 'Nazwisko musi składać się z 1 do 30 znaków.';
        } else {
          return 'Nazwisko musi składać się z 1 do 30 znaków.';
        }
      },
      passwordState() {
        return this.form.credentials.password.length >= 8 && this.form.credentials.password.length <= 60;
      },
      passwordInvalidFeedback() {
        if (this.form.credentials.password.length >= 8 && this.form.credentials.password.length <= 60) {
          return '';
        } else if (this.form.credentials.password.length > 0 || this.form.credentials.password.length > 60) {
          return 'Hasło musi składać się z 8 do 60 znaków.';
        } else {
          return 'Hasło musi składać się z 8 do 60 znaków.';
        }
      },
      loginState() {
        return this.form.credentials.login.length >= 4 && this.form.credentials.login.length <= 30;
      },
      loginInvalidFeedback() {
        if (this.form.credentials.login.length >= 4 && this.form.credentials.login.length <= 30) {
          return '';
        } else if (this.form.credentials.login.length > 0 || this.form.credentials.login.length > 30) {
          return 'Login musi składać się z 4 do 30 znaków.';
        } else {
          return 'Login musi składać się z 4 do 30 znaków.';
        }
      },
      roleState() {
        return this.form.credentials.role.length >= 1 && this.form.credentials.role.length <= 15;
      },
      roleInvalidFeedback() {
        if (this.form.credentials.role.length >= 4 && this.form.credentials.role.length <= 15) {
          return '';
        } else if (this.form.credentials.role.length > 0 || this.form.credentials.role.length > 15) {
          return 'Rola musi składać się z 1 do 15 znaków.';
        } else {
          return 'Rola musi składać się z 1 do 15 znaków.';
        }
      },
    },
  }
</script>

<style lang="scss" scoped>
  @import "../../scss/colors";

  .employeePanelMainWrapper {
    margin: 20px auto;
  }

  .sizeOfBList {
    max-height: 200px;
    margin-bottom: 10px;
    overflow: auto;

    .list-group-item.active {
      background-color: $primary-light;
      border-color: $primary-light;
    }
  }

  .description {
    font-weight: lighter;
    font-size: 0.7rem;
    margin: 0;
  }

  .button-wrapper {
    margin-top: 20px;
  }

  .filter {
    margin-bottom: 10px;
  }

  .submit-button {
    display: block;
    margin-top: 10px;
  }
</style>
