<template>
  <div id="movie-panel-main-wrapper" class="moviePanelMainWrapper">
    <h3>LISTA FILMÓW</h3>
    <b-form-input class="filter" v-model="filter" placeholder="Wyszukaj..."/>
    <b-table :current-page="currentPage"
             :per-page="perPage"
             :items="movies"
             :fields="fields"
             bordered
             small
             hover
             responsive
             :filter="filter"
             @filtered="onFiltered"
             head-variant="dark">

      <template slot="sinceDate" slot-scope="row">
        {{row.item.sinceDate | showDateWithTime}}
      </template>
      <template slot="actions" slot-scope="row">
        <b-button size="sm" @click.stop="row.toggleDetails">
          {{ row.detailsShowing ? 'Ukryj' : 'Pokaż' }} szczegóły
        </b-button>
      </template>

      <template slot="row-details" slot-scope="row">
        <b-card>
          <b-row class="mb-2">
            <b-col sm="3" class="text-sm-right"><b>ID:</b></b-col>
            <b-col>{{ row.item.id }}</b-col>
          </b-row>
          <b-row class="mb-2">
            <b-col sm="3" class="text-sm-right"><b>TYTUŁ:</b></b-col>
            <b-col>{{ row.item.title }}</b-col>
          </b-row>
          <b-row class="mb-2">
            <b-col sm="3" class="text-sm-right"><b>CZAS TRWANIA:</b></b-col>
            <b-col>{{ row.item.duration }}</b-col>
          </b-row>
          <b-row class="mb-2">
            <b-col sm="3" class="text-sm-right"><b>GATUNEK:</b></b-col>
            <b-col>{{ row.item.genre }}</b-col>
          </b-row>
          <b-row class="mb-2">
            <b-col sm="3" class="text-sm-right"><b>PLAKAT:</b></b-col>
            <b-col sm="9" class="text-sm-left">
              <b-row>
                <img class="poster" :src="row.item.urlImageLink"/>
              </b-row>
              <b-row>
                <span class="poster-link">{{ row.item.urlImageLink }}</span>
              </b-row>
            </b-col>
          </b-row>
          <b-row class="mb-2">
            <b-col sm="3" class="text-sm-right"><b>JĘZYK ORYGINALNY:</b></b-col>
            <b-col>{{ row.item.originalLanguage }}</b-col>
          </b-row>
          <b-row class="mb-2">
            <b-col sm="3" class="text-sm-right"><b>W KINACH OD:</b></b-col>
            <b-col>{{ row.item.sinceDate | showDateWithTime}}</b-col>
          </b-row>
          <b-row class="mb-2">
            <b-col sm="3" class="text-sm-right"><b>OPIS:</b></b-col>
            <b-col>{{ row.item.description }}</b-col>
          </b-row>
          <b-row class="mb-2">
            <b-col sm="3" class="text-sm-right"><b>OBSADA:</b></b-col>
            <b-col>
              <span v-for="actor in actors">
                <span v-if="actor.id.id_movie.id == row.item.id">{{actor.id.id_staff.name}} {{actor.id.id_staff.surname}}, </span>
              </span>
              <b-button @click="showActorModal(row.item)" variant="primary" size="sm">
                Dodaj aktora
              </b-button>
              <b-modal ref="actorModalRef" size="lg" hide-footer hide-header>
                <actor-form @actor-director-added="fetchData" :propMovie="actorModalInfo"/>
              </b-modal>
            </b-col>
          </b-row>
          <b-row class="mb-2">
            <b-col sm="3" class="text-sm-right"><b>REŻYSERIA:</b></b-col>
            <b-col>
              <span v-for="director in directors">
                <span v-if="director.id.id_movie.id == row.item.id">{{director.id.id_staff.name}} {{director.id.id_staff.surname}}, </span>
              </span>
              <b-button @click="showDirectorModal(row.item)" variant="primary" size="sm">
                Dodaj reżysera
              </b-button>
              <b-modal ref="directorModalRef" size="lg" hide-footer hide-header>
                <director-form @actor-director-added="fetchData" :propMovie="directorModalInfo"/>
              </b-modal>

            </b-col>
          </b-row>
          <b-button variant="primary" size="sm" @click.stop="info(row.item, row.index, $event.target)" class="mr-1">
            EDYTUJ FILM
          </b-button>
          <b-button size="sm" @click="row.toggleDetails">Ukryj szczegóły</b-button>
        </b-card>
      </template>
    </b-table>
    <b-modal id="modalInfo" title="Edytuj" hide-footer>
      <movie-form :is-modal="true" :form="modalInfo"/>
    </b-modal>

    <b-pagination :total-rows="totalRows" :per-page="perPage" v-model="currentPage" class="my-0"/>
    <div class="button-wrapper">
      <b-btn @click="addMovie" variant="primary">Dodaj film</b-btn>
      <b-btn @click="closeForm" v-if="showAddMovie" variant="light">Zamknij formularz</b-btn>
    </div>

    <movie-form v-if="showAddMovie" :form="form" :is-modal="false" @added="fetchData"/>
  </div>
</template>

<script>
  import MovieForm from "../../components/admin/MovieForm";
  import {adminService} from "../../services/admin.service";
  import ActorForm from "../../components/admin/ActorForm";
  import DirectorForm from "../../components/admin/DirectorForm";

  export default {
    name: "MoviePanel",
    components: {DirectorForm, ActorForm, MovieForm},
    data() {
      return {
        movies: [],
        filter: null,
        totalRows: null,
        currentPage: 1,
        perPage: 10,
        actors: [],
        directors: [],
        fields: [
          {key: 'id', label: 'ID', sortable: true},
          {key: 'title', label: 'Tytuł', thStyle: {width: '200px'}, sortable: true},
          {key: 'duration', label: 'Czas trwania', sortable: true},
          {key: 'genre', label: 'Gatunek', sortable: true},
          // {key: 'urlImageLink', label: 'Plakat', sortable: true, thStyle: {width: '10px !important'}},
          {key: 'originalLanguage', label: 'Język oryginalny', sortable: true},
          {key: 'sinceDate', label: 'W kinach od', sortable: true},
          // {key: 'description', label: 'Opis', sortable: true},
          {key: 'actions', label: ''}
        ],
        showAddMovie: false,
        form: {
          id: null,
          title: '',
          duration: '',
          genre: '',
          urlImageLink: '',
          originalLanguage: '',
          sinceDate: '',
          description: '',
        },
        modalInfo: {
          id: null,
          title: '',
          duration: '',
          genre: '',
          urlImageLink: '',
          originalLanguage: '',
          sinceDate: '',
          description: '',
        },
        actorModalInfo: {},
        directorModalInfo: {},
      }
    },
    created() {
      this.fetchData();
    },
    methods: {
      onSubmit() {
        adminService.addOrUpdateMovie(this.form)
          .then(response => {
            this.fetchData();
          });

      },
      fetchData() {
        const promises = [
          this.$http.get(`/api/user/getMovie`),
          this.$http.get(`/api/user/getActor`),
          this.$http.get(`/api/user/getDirector`),
        ];
        Promise.all(promises)
          .then(response => {
            return response.map(entry => entry.data);
          }).then(data => {
          this.movies = data[0].data;
          this.totalRows = this.movies.length;
          this.actors = data[1].data;
          this.directors = data[2].data;
          this.$forceUpdate();
        }).catch(error => {
          if (error.status === 404) {
            return this.$router.push({name: "404"})
          }
        });
      },
      addMovie() {
        this.showAddMovie = true;
      },
      closeForm() {
        this.showAddMovie = false;
        this.form = {
          id: null,
          title: '',
          duration: '',
          genre: '',
          urlImageLink: '',
          originalLanguage: '',
          sinceDate: '',
          description: '',
        };
      },

      info(item, index, button) {
        this.modalInfo = item;
        this.$root.$emit('bv::show::modal', 'modalInfo', button);
      },
      onFiltered(filteredItems) {
        this.totalRows = filteredItems.length;
        this.currentPage = 1
      },
      showActorModal(item) {
        this.actorModalInfo = item;
        this.$refs.actorModalRef.show()
      },
      hideActorModal() {
        this.$refs.actorModalRef.hide()
      },
      showDirectorModal(item) {
        this.directorModalInfo = item;
        this.$refs.directorModalRef.show()
      },
      hideDirectorModal() {
        this.$refs.directorModalRef.hide()
      }
    },
    filters: {
      showDateWithTime(value) {
        if (!value) return '';
        return new Date(value).toLocaleDateString("pl-PL", {
          day: '2-digit',
          month: '2-digit',
          year: 'numeric',
          hour: '2-digit',
          minute: '2-digit',
        });
      }
    }
  }
</script>

<style lang="scss" scoped>
  .moviePanelMainWrapper {
    margin: 20px auto;

    @media (max-width: 768px) {
      width: 85%;
    }
  }

  form {
    margin-top: 20px;
  }

  ul {
    &.my-0 {
      margin: auto;
      text-align: center;
    }
  }

  .button-wrapper {
    margin-top: 20px;
  }

  .filter {
    margin-bottom: 10px;
  }

  .poster {
    padding-left: 15px;
    max-width: 200px;
    max-height: 200px;
  }

  .poster-link {
    padding-left: 15px;
    max-width: 50vh;

  }
</style>
