<template>
  <div id="room-panel-main-wrapper" class="roomPanelMainWrapper">
    <h3>LISTA SAL</h3>
    <b-form-input class="filter" v-model="filter" placeholder="Wyszukaj..."/>
    <b-table :current-page="currentPage"
             :per-page="perPage"
             :items="rooms"
             :fields="fields"
             @row-dblclicked="selectRow"
             bordered
             small
             hover
             responsive
             :filter="filter"
             @filtered="onFiltered"
             head-variant="dark"></b-table>
    <b-pagination :total-rows="totalRows" :per-page="perPage" v-model="currentPage" class="my-0"/>
    <div class="button-wrapper">
      <b-btn @click="addRoom" variant="primary">Dodaj salę</b-btn>
      <b-btn @click="editRoom" variant="secondary">Edytuj salę</b-btn>
      <b-btn @click="closeForm" v-if="showEditRoom || showAddRoom" variant="light">Zamknij formularz</b-btn>
    </div>

    <b-form v-if="showEditRoom" @submit.prevent="onSubmit">
      <h3>Edytuj</h3>
      <b-alert show variant="warning" dismissible>
        Kliknij dwukrotnie w wybrany rekord, aby edytować.
      </b-alert>
      <b-form-group id="idFieldset"
                    label-for="idInput">
        <b-form-input id="idInput"
                      type="text"
                      :disabled="true"
                      v-model="form.id">
        </b-form-input>
      </b-form-group>

      <b-form-group
        id="roomNumberFieldset"
        label="Podaj numer sali"
        label-for="roomNumberInput"
        :invalid-feedback="roomNumberInvalidFeedback"
        :state="roomNumberState">
        <b-form-input type="number" id="roonNumberInput" :state="roomNumberState" v-model.trim="form.roomNumber"
                      required></b-form-input>
      </b-form-group>
      <b-button type="submit" variant="primary">Zapisz</b-button>
    </b-form>

    <room-form v-if="showAddRoom" @added="fetchData"></room-form>
  </div>
</template>

<script>
  import RoomForm from "../../components/admin/RoomForm";
  import {adminService} from "../../services/admin.service";

  export default {
    name: "RoomPanel",
    components: {RoomForm},
    data() {
      return {
        filter: null,
        rooms: [],
        totalRows: null,
        currentPage: 1,
        perPage: 10,
        selectedCinema: 0,
        cinema: {},
        form: {
          id: null,
          roomNumber: '',
          cinema: {},
        },
        fields: [
          {key: 'id', label: 'ID', sortable: true},
          {key: 'roomNumber', label: 'Numer sali', sortable: true},
          {key: 'cinema.id', label: 'ID kina', sortable: false, variant: 'warning'},
          {key: 'cinema.town', label: 'Miasto', sortable: false, variant: 'warning'},
          {key: 'cinema.street', label: 'Ulica', sortable: false, variant: 'warning'},
        ],
        showEditRoom: false,
        showAddRoom: false,
      }
    },
    created: function () {
      const promises = [
        this.$http.get(`/api/user/getRoom`),
      ];
      Promise.all(promises)
        .then(response => {
          return response.map(entry => entry.data);
        }).then(data => {
        setTimeout(() => {
          this.rooms = data[0].data;
        }, 500);
      });
    },
    methods: {
      onSubmit() {
        adminService.addOrUpdateRoom(this.form)
      },
      setCinema(value) {
        this.form.cinema = value;
        this.$http.get(`/api/user/getRoom`)
          .then(response => {
            this.rooms = response.data.data.filter(element => {
              if (element != null && element.cinema.id == this.form.cinema.id) {
                return true;
              } else return false;
            })
          })
      },
      isSelectedCinema(i) {
        return i === this.selectedCinema
      },
      selectRow(item, index, event) {
        this.form = item;
      },
      fetchData() {
        this.$http.get(`/api/user/getRoom`).then(response => {
          this.rooms = response.data.data;
          this.totalRows = this.rooms.length;
          this.$forceUpdate();
        });
      },
      addRoom() {
        this.showAddRoom = true;
        this.showEditRoom = false;
      },
      editRoom() {
        this.showAddRoom = false;
        this.showEditRoom = true;
      },
      closeForm() {
        this.showAddRoom = false;
        this.showEditRoom = false;
        this.form = {
          id: null,
          roomNumber: '',
          cinema: {},
        };
      },
      onFiltered(filteredItems) {
        this.totalRows = filteredItems.length;
        this.currentPage = 1
      }
    },
    computed: {
      roomNumberState() {
        return this.form.roomNumber.length > 0 && this.form.roomNumber.length <= 2;
      },
      roomNumberInvalidFeedback() {
        if (this.form.roomNumber.length >= 1 && this.form.roomNumber.length <= 2) {
          return '';
        } else if (this.form.roomNumber.length > 0 || this.form.roomNumber.length > 2) {
          return 'Numer sali musi składać się z 1 do 2 znaków.';
        } else {
          return 'Numer sali musi składać się z 1 do 2 znaków.';
        }
      },
    },

  }
</script>

<style lang="scss" scoped>
  @import "../../scss/colors";

  .roomPanelMainWrapper {
    margin: 20px auto;

    @media (max-width: 768px) {
      width: 85%;
      margin-left: 0;
      margin-right: 0;
    }
  }

  form {
    margin-top: 20px;
  }

  .sizeOfBList {
    max-height: 100px;
    margin-bottom: 10px;
    overflow: auto;

    .list-group-item.active {
      background-color: $primary-light;
      border-color: $primary-light;
    }
  }

  .button-wrapper {
    margin-top: 20px;
  }

  .filter {
    margin-bottom: 10px;
  }
</style>
