<template>
  <div id="show-panel-main-wrapper" class="showPanelMainWrapper">

    <h3>LISTA SEANSÓW</h3>
    <b-form-input class="filter" v-model="filter" placeholder="Wyszukaj..."/>
    <b-table :current-page="currentPage"
             :per-page="perPage"
             :items="shows"
             :fields="fields"
             bordered
             small
             hover
             responsive
             @row-dblclicked="selectRow"
             :filter="filter"
             @filtered="onFiltered"
             no-sort-reset
             head-variant="dark">

      <template slot="date" slot-scope="row">
        {{row.item.date | showDateWithTime}}
      </template>
      <template slot="room.cinema" slot-scope="row">
        {{row.item.room.cinema.town}},
        {{row.item.room.cinema.street}}
        {{row.item.room.cinema.building_number}}
      </template>
      <template slot="room" slot-scope="row">
        {{row.item.room.roomNumber}}
      </template>
      <template slot="actions" slot-scope="row">
        <b-button size="sm" @click.stop="row.toggleDetails">
          {{ row.detailsShowing ? 'Ukryj' : 'Pokaż' }} szczegóły
        </b-button>
      </template>

      <template slot="row-details" slot-scope="row">
        <b-card>
          <h5><b>INFORMACJE O SEANSIE</b></h5>
          <b-row class="mb-2">
            <b-col sm="3" class="text-sm-right"><b>ID:</b></b-col>
            <b-col>{{ row.item.id }}</b-col>
          </b-row>
          <b-row class="mb-2">
            <b-col sm="3" class="text-sm-right"><b>DATA I GODZINA:</b></b-col>
            <b-col>{{row.item.date | showDateWithTime}}</b-col>
          </b-row>
          <b-row class="mb-2">
            <b-col sm="3" class="text-sm-right"><b>SALA:</b></b-col>
            <b-col>nr {{ row.item.room.roomNumber}}</b-col>
          </b-row>
          <b-row class="mb-2">
            <b-col sm="3" class="text-sm-right"><b>KINO:</b></b-col>
            <b-col>{{row.item.room.cinema.town}},
              {{row.item.room.cinema.street}}
              {{row.item.room.cinema.building_number}}
            </b-col>
          </b-row>
          <b-row class="mb-2">
            <b-col sm="3" class="text-sm-right"><b>TYP PROJEKCI:</b></b-col>
            <b-col>{{row.item.projection}}
            </b-col>
          </b-row>
          <b-row class="mb-2">
            <b-col sm="3" class="text-sm-right"><b>WERSJA PRZEKAZU:</b></b-col>
            <b-col>{{row.item.version}}
            </b-col>
          </b-row>
          <hr>
          <b-row class="mb-2">
            <b-col sm="3" class="text-sm-right"><b>TYTUŁ FILMU:</b></b-col>
            <b-col>{{ row.item.movie.title}}</b-col>
          </b-row>
          <b-row class="mb-2">
            <b-col sm="3" class="text-sm-right"><b>CZAS TRWANIA:</b></b-col>
            <b-col>{{ row.item.movie.duration }} min.</b-col>
          </b-row>
          <b-row class="mb-2">
            <b-col sm="3" class="text-sm-right"><b>GATUNEK:</b></b-col>
            <b-col>{{ row.item.movie.genre }}</b-col>
          </b-row>
          <b-row class="mb-2">
            <b-col sm="3" class="text-sm-right"><b>PLAKAT:</b></b-col>
            <b-col sm="9" class="text-sm-left">
              <b-row>
                <img class="poster" :src="row.item.movie.urlImageLink"/>
              </b-row>
              <b-row>
                <span class="poster-link">{{ row.item.movie.urlImageLink }}</span>
              </b-row>
            </b-col>
          </b-row>
          <b-row class="mb-2">
            <b-col sm="3" class="text-sm-right"><b>JĘZYK ORYGINALNY:</b></b-col>
            <b-col>{{ row.item.movie.originalLanguage}}</b-col>
          </b-row>
          <b-row class="mb-2">
            <b-col sm="3" class="text-sm-right"><b>W KINACH OD:</b></b-col>
            <b-col>{{ row.item.movie.sinceDate | showDateWithTime}}</b-col>
          </b-row>
          <b-button size="sm" @click="row.toggleDetails">Ukryj szczegóły</b-button>
          <b-btn size="sm" v-on:click="selectRowFromDetails(row.item)" @click="editShow" variant="primary">EDYTUJ SEANS
          </b-btn>
        </b-card>
      </template>
    </b-table>
    <b-pagination :total-rows="totalRows" :per-page="perPage" v-model="currentPage" class="my-0"/>

    <div class="button-wrapper">
      <b-btn @click="addShow" variant="primary">Dodaj seans</b-btn>
      <b-btn @click="editShow" variant="secondary">Edytuj seans</b-btn>
      <b-btn @click="closeForm" v-if="showEditShow || showAddShow" variant="light">Zamknij formularz</b-btn>
    </div>

    <b-form style="margin-top: 20px;" v-if="showEditShow" @submit.prevent="onSubmit">
      <h3>Edytuj</h3>
      <b-alert show variant="warning" dismissible>
        Kliknij dwukrotnie w rekord, aby wybrać seans, lub wybierz opcję "Edytuj seans" dostępną w "Pokaż szczegóły".
      </b-alert>
      <b-form-group id="idFieldset"
                    label-for="idInput">
        <b-form-input id="idInput"
                      type="text"
                      v-model="form.id"
                      :disabled="true">
        </b-form-input>
      </b-form-group>
      <b-form-group id="dateFieldset"
                    label="Wpisz datę:"
                    label-for="dateInput">
        <b-form-input id="dateInput"
                      type="date"
                      v-model="date"
                      required
                      placeholder="Wpisz date">
        </b-form-input>
      </b-form-group>

      <b-form-group id="timeFieldset"
                    label="Wpisz godzinę:"
                    label-for="timeInput">
        <b-form-input id="timeInput"
                      type="time"
                      v-model="time"
                      required
                      placeholder="Wpisz godzinę">
        </b-form-input>
      </b-form-group>

      <p>Wybierz kino:</p>
      <b-input-group class="filter" prepend="Szukaj:">
        <b-form-input id="input-town" v-model="filterCinema" placeholder="Podaj miejscowość"/>
      </b-input-group>
      <p class="description">Kliknij w element listy aby wybrać kino...</p>
      <div class="sizeOfBList">
        <b-list-group>
          <b-list-group-item v-for="(item, index) of filteredCinemas" :key="item.id"
                             v-bind:class="{ 'active' : isSelectedCinema(index) }" v-on:click="selectedCinema = index"
                             @click="setCinema(item)">{{item.town}}, {{item.street}} {{item.building_number}}
            <!--<b-btn variant="primary" size="sm" @click="conlog">Podgląd sali</b-btn>-->
          </b-list-group-item>
        </b-list-group>
      </div>

      <p>Wybierz salę:</p>
      <b-input-group class="filter" prepend="Szukaj:">
        <b-form-input id="input-room-number" v-model="filterRoom" placeholder="Podaj numer sali"/>
      </b-input-group>
      <p class="description">Kliknij w element listy aby wybrać salę...</p>
      <div class="sizeOfBList">
        <b-list-group>
          <b-list-group-item v-for="(item, index) of filteredRooms" :key="item.id"
                             v-bind:class="{ 'active' : isSelectedRoom(index) }" v-on:click="selectedRoom = index"
                             @click="setRoom(item)">Numer sali: {{item.roomNumber}}
            <b-btn @click.stop="showModal(item.id)" variant="warning" size="sm">Podgląd sali</b-btn>
          </b-list-group-item>
        </b-list-group>
      </div>

      <b-modal size="lg" lazy ref="myModalRef" hide-footer title="PODGLĄD SALI">
        <room-preview :room-id="modalRoomId"/>
      </b-modal>

      <p>Wybierz film:</p>
      <b-input-group class="filter" prepend="Szukaj:">
        <b-form-input id="input-movie" v-model="filterMovie" placeholder="Podaj tytuł filmu"/>
      </b-input-group>
      <p class="description">Kliknij w element listy aby wybrać film...</p>
      <div class="sizeOfBList">
        <b-list-group>
          <b-list-group-item v-for="(item, index) of filteredMovies" :key="item.id"
                             v-bind:class="{ 'active' : isSelectedMovie(index) }" v-on:click="selectedMovie = index"
                             @click="setMovie(item)">{{item.title}}
          </b-list-group-item>
        </b-list-group>
      </div>

      <p>Wybierz typ projekcję:</p>
      <b-form-select id="projectionInput"
                     :options="projection"
                     required
                     v-model="form.projection">
      </b-form-select>

      <p>Wybierz wersję przekazu:</p>
      <b-form-select id="versionInput"
                     :options="version"
                     required
                     v-model="form.version">
      </b-form-select>
      <b-button class="button-position" type="submit" variant="primary">Zapisz</b-button>
    </b-form>
    <show-form v-if="showAddShow" @added="fetchData"/>
  </div>
</template>

<script>
  import {adminService} from "../../services/admin.service";
  import ShowForm from "../../components/admin/ShowForm";
  import RoomPreview from "../../components/admin/RoomPreview";

  export default {
    name: "ShowPanel",
    components: {RoomPreview, ShowForm},
    data() {
      return {
        totalRows: null,
        currentPage: 1,
        perPage: 10,
        filter: '',
        filterCinema: '',
        filterRoom: '',
        filterMovie: '',
        selectedRoom: 0,
        selectedMovie: 0,
        selectedCinema: 0,
        showAddShow: false,
        showEditShow: false,
        projection: {},
        movies: [],
        rooms: [],
        cinemas: [],
        selectedCinemaObject: {},
        version: [],
        shows: [],
        date: '',
        time: '',
        fields: [
          {key: 'id', label: 'ID', sortable: true},
          {key: 'movie.title', thStyle: {width: '200px'}, label: 'Film', sortable: false},
          {key: 'date', label: 'Data i godzina', sortable: true},
          {key: 'room.cinema', label: 'Kino', sortable: false},
          {key: 'room', label: 'Sala', sortable: true},
          {key: 'projection', label: 'Typ projekcji', sortable: true},
          {key: 'version', label: 'Wersja przekazu', sortable: true},
          {key: 'actions', label: ''}
        ],
        form: {
          id: null,
          date: '',
          room: {},
          movie: {},
          projection: '',
          version: '',
        },
        modalRoomId: null,
      }
    },
    created() {
      this.fetchData();
    },
    methods: {
      fetchData() {
        const promises = [
          this.$http.get(`/api/user/getProjection`),
          this.$http.get(`/api/user/getVersion`),
          this.$http.get(`/api/user/getMovie`),
          this.$http.get(`/api/user/getRoom`),
          this.$http.get(`/api/user/getCinema`),
          this.$http.get(`/api/user/getShow`),
        ];
        Promise.all(promises)
          .then(response => {
            return response.map(entry => entry.data);
          }).then(data => {
          setTimeout(() => {
            let list = [];
            data[0].data.forEach(function (entry) {
              list.push(entry.type);
            });
            this.projection = list;
            list = [];
            data[1].data.forEach(function (entry) {
              list.push(entry.type);
            });
            this.version = list;
            this.movies = data[2].data;
            this.rooms = data[3].data;
            this.cinemas = data[4].data;
            this.shows = data[5].data;
            this.totalRows = this.shows.length;
            this.$forceUpdate();
          }, 500);
        });

      },
      onSubmit() {
        this.form.date = new Date(Date.parse(`${this.date} ${this.time}`));
        adminService.addOrUpdateShow(this.form);
        this.fetchData();
      },
      selectRow(item, index, event) {
        this.form = item;
        this.date = this.formatDate(item.date);
        this.time = this.formatTime(item.date);
        this.form.date = item.date;
        this.filterCinema = item.room.cinema.town;
        this.filterRoom = item.room.roomNumber;
        this.filterMovie = item.movie.title;
        delete this.form._showDetails;
      },
      selectRowFromDetails(item, index, event) {
        this.form = item;
        this.date = this.formatDate(item.date);
        this.time = this.formatTime(item.date);
        this.form.date = item.date;
        this.filterCinema = item.room.cinema.town;
        this.filterRoom = item.room.roomNumber;
        this.filterMovie = item.movie.title;
        delete this.form._showDetails;
      },
      setCinema(value) {
        this.selectedCinemaObject = value;
      },
      setRoom(value) {
        this.form.room = value;
      },
      setMovie(value) {
        this.form.movie = value;
      },
      isSelectedCinema(i) {
        return i === this.selectedCinema;
      },
      isSelectedMovie(i) {
        return i === this.selectedMovie;
      },
      isSelectedRoom(i) {
        return i === this.selectedRoom;
      },
      addShow() {
        this.showAddShow = true;
        this.showEditShow = false;
      },
      editShow() {
        this.showAddShow = false;
        this.showEditShow = true;
      },
      closeForm() {
        this.showAddShow = false;
        this.showEditShow = false;
        this.form = {
          id: null,
          date: '',
          room: {},
          movie: {},
          projection: '',
          version: '',
        };
        this.filterCinema = '';
        this.filterRoom = '';
        this.filterMovie = '';
        this.date = '';
        this.time = '';
      },
      onFiltered(filteredItems) {
        this.totalRows = filteredItems.length;
        this.currentPage = 1;
      },
      formatDate(date) {
        let d = new Date(date),
          month = '' + (d.getMonth() + 1),
          day = '' + d.getDate(),
          year = d.getFullYear();

        if (month.length < 2) month = '0' + month;
        if (day.length < 2) day = '0' + day;

        return [year, month, day].join('-');
      },
      formatTime(value) {
        if (!value) return '';
        return new Date(value).toTimeString().split(' ')[0];
      },
      showModal(value) {
        this.modalRoomId = value;
        setTimeout(() => {
          this.$refs.myModalRef.show()
        }, 500);
      },
      hideModal() {
        this.$refs.myModalRef.hide()
      }
    },
    computed: {
      filteredCinemas() {
        return this.cinemas.filter((cinema) => {
          return cinema.town.toLowerCase().match(this.filterCinema.toLowerCase());
        });
      },
      filteredMovies() {
        return this.movies.filter((movie) => {
          return movie.title.toLowerCase().match(this.filterMovie.toLowerCase());
        });
      },
      filteredRooms() {
        let rooms = this.rooms.filter((room) => {
          return room.roomNumber.match(this.filterRoom) && room.cinema.id === this.selectedCinemaObject.id;
        });
        return rooms;
      },
    },
    filters: {
      showDateWithTime(value) {
        if (!value) return '';
        return new Date(value).toLocaleDateString("pl-PL", {
          day: '2-digit',
          month: '2-digit',
          year: 'numeric',
          hour: '2-digit',
          minute: '2-digit',
        });
      }
    }

  }
</script>

<style lang="scss" scoped>
  @import "../../scss/colors";

  .showPanelMainWrapper {
    margin: 20px auto;
  }

  .sizeOfBList {
    max-height: 200px;
    margin-bottom: 10px;
    overflow: auto;

    .list-group-item.active {
      background-color: $primary-light;
      border-color: $primary-light;
    }
  }

  .description {
    font-weight: lighter;
    font-size: 0.7rem;
    margin: 0;
  }

  .button-position {
    margin-top: 20px;
  }

  .button-wrapper {
    margin-top: 20px;
  }

  .filter {
    margin-bottom: 10px;
  }

  .poster {
    max-width: 200px;
    max-height: 200px;
    padding-left: 15px;
  }

  .poster-link {
    padding-left: 15px;
    max-width: 80vh;
  }

</style>
