<template>
  <div id="staff-panel-main-wrapper" class="staffPanelMainWrapper">
    <h3>LISTA OSÓB ZAANGAŻOWANYCH W PRODUKCJĘ FILMU</h3>
    <b-form-input class="filter" v-model="filter" placeholder="Wyszukaj..."/>
    <b-table :current-page="currentPage"
             :per-page="perPage"
             :items="staff"
             :fields="fields"
             bordered
             small
             hover
             responsive
             @row-dblclicked="selectRow"
             :filter="filter"
             @filtered="onFiltered"
             head-variant="dark">

      <template slot="dateOfBirth" slot-scope="row">
        {{row.item.dateOfBirth | showDate()}}
      </template>
    </b-table>
    <b-pagination :total-rows="totalRows" :per-page="perPage" v-model="currentPage" class="my-0"/>

    <div class="button-wrapper">
      <b-btn @click="addStaff" variant="primary">Dodaj osobę zaangażowaną</b-btn>
      <b-btn @click="editStaff" variant="secondary">Edytuj osobę zaangażowaną</b-btn>
      <b-btn @click="closeForm" v-if="showEditStaff || showAddStaff" variant="light">Zamknij formularz</b-btn>
    </div>

    <b-form style="margin-top: 20px;" v-if="showEditStaff" @submit.prevent="onSubmit">
      <h3>Edytuj</h3>
      <b-alert show variant="warning" dismissible>
        Kliknij dwukrotnie w wybrany rekord, aby edytować.
      </b-alert>
      <b-form-group id="idFieldset"
                    label-for="idInput">
        <b-form-input id="idInput"
                      type="text"
                      :disabled="true"
                      v-model="form.id">
        </b-form-input>
      </b-form-group>

      <b-form-group
        id="nameFieldset"
        label="Podaj imię"
        label-for="nameInput"
        :invalid-feedback="nameInvalidFeedback"
        :state="nameState">
        <b-form-input id="nameInput" :state="nameState" v-model.trim="form.name" required></b-form-input>
      </b-form-group>

      <b-form-group
        id="surnameFieldset"
        label="Podaj nazwisko"
        label-for="surnameInput"
        :invalid-feedback="surnameInvalidFeedback"
        :state="surnameState">
        <b-form-input id="surnameInput" :state="surnameState" v-model.trim="form.surname" required></b-form-input>
      </b-form-group>

      <b-form-group id="dateFieldset"
                    label="Data urodzenia:"
                    label-for="dateInput">
        <b-form-input id="dateInput"
                      type="date"
                      v-model="form.dateOfBirth"
                      required>
        </b-form-input>
      </b-form-group>

      <b-button type="submit" variant="primary">Zapisz</b-button>
    </b-form>
    <staff-form v-if="showAddStaff" @added="fetchData"/>
  </div>
</template>

<script>
  import StaffForm from "../../components/admin/StaffForm";
  import {adminService} from "../../services/admin.service";

  export default {
    name: "StaffPanel",
    components: {StaffForm},
    data() {
      return {
        showEditStaff: false,
        showAddStaff: false,
        filter: null,
        totalRows: null,
        currentPage: 1,
        perPage: 10,
        staff: [],
        form: {
          id: null,
          name: '',
          surname: '',
          dateOfBirth: '',
        },
        fields: [
          {key: 'id', label: 'ID', sortable: true},
          {key: 'name', label: 'Imię', sortable: true},
          {key: 'surname', label: 'Nazwisko', sortable: true},
          {key: 'dateOfBirth', label: 'Data urodzenia', sortable: true},
        ],
      }
    },
    created() {
      this.fetchData()
    },
    methods: {
      fetchData() {
        this.$http.get(`/api/user/getStaff`)
          .then(response => {
            this.staff = response.data.data;
            this.totalRows = this.staff.length;
            this.$forceUpdate();
          })
      },
      selectRow(item, index, event) {
        this.form = item;
        this.form.dateOfBirth = this.formatDate(item.dateOfBirth);
      },
      formatDate(date) {
        let d = new Date(date),
          month = '' + (d.getMonth() + 1),
          day = '' + d.getDate(),
          year = d.getFullYear();

        if (month.length < 2) month = '0' + month;
        if (day.length < 2) day = '0' + day;

        return [year, month, day].join('-');
      },
      addStaff() {
        this.showAddStaff = true;
        this.showEditStaff = false;
      },
      editStaff() {
        this.showAddStaff = false;
        this.showEditStaff = true;
      },
      closeForm() {
        this.showAddStaff = false;
        this.showEditStaff = false;
        this.form = {
          id: null,
          name: '',
          surname: '',
          dateOfBirth: '',
        };
      },
      onSubmit() {
        adminService.addOrUpdateStaff(this.form)
          .then(() => {
            this.fetchData();
          });
      },
      onFiltered(filteredItems) {
        this.totalRows = filteredItems.length;
        this.currentPage = 1;
      },
    },
    computed: {
      nameState() {
        return this.form.name.length >= 1 && this.form.name.length <= 30;
      },
      nameInvalidFeedback() {
        if (this.form.name.length >= 1 && this.form.name.length <= 30) {
          return '';
        } else if (this.form.name.length > 0 || this.form.name.length > 30) {
          return 'Imię musi składać się z 1 do 30 znaków.';
        } else {
          return 'Imię musi składać się z 1 do 30 znaków.';
        }
      },
      surnameState() {
        return this.form.surname.length >= 1 && this.form.surname.length <= 30;
      },
      surnameInvalidFeedback() {
        if (this.form.surname.length >= 1 && this.form.surname.length <= 30) {
          return '';
        } else if (this.form.surname.length > 0 || this.form.surname.length > 30) {
          return 'Nazwisko musi składać się z 1 do 30 znaków.';
        } else {
          return 'Nazwisko musi składać się z 1 do 30 znaków.';
        }
      },
    },
    filters: {
      showDate(value) {
        if (!value) return '';
        return new Date(value).toLocaleDateString("pl-PL", {
          day: '2-digit',
          month: '2-digit',
          year: 'numeric'
        });
      },
      leadingZero(value) {
        if (!value) return '';
        value = '0' + value.toString();
        return value.slice(-2);
      }
    },

  }
</script>

<style lang="scss" scoped>
  .staffPanelMainWrapper {
    margin: 20px auto;

    @media (max-width: 768px) {
      width: 80%;
    }
  }

  .button-wrapper {
    margin-top: 20px;
  }

  .filter {
    margin-bottom: 10px;
  }
</style>
