<template>
  <div id="ticket-type-panel-main-wrapper" class="ticketTypePanelMainWrapper">
    <h3>LISTA TYPÓW BILETÓW</h3>
    <b-form-input class="filter" v-model="filter" placeholder="Wyszukaj..."/>
    <b-table :current-page="currentPage"
             :per-page="perPage"
             :fields="fields"
             :items="tickets"
             @row-dblclicked="selectRow"
             bordered
             small
             hover
             responsive
             :filter="filter"
             @filtered="onFiltered"
             head-variant="dark">
    </b-table>
    <b-pagination :total-rows="totalRows" :per-page="perPage" v-model="currentPage" class="my-0"/>

    <div class="button-wrapper">
      <b-btn @click="addTicketType" variant="primary">Dodaj typ biletu</b-btn>
      <b-btn @click="editTicketType" variant="secondary">Edytuj typ biletu</b-btn>
      <b-btn @click="closeForm" v-if="showEditTicketType || showAddTicketType" variant="light">Zamknij formularz</b-btn>
    </div>

    <b-form v-if="showEditTicketType" @submit.prevent="onSubmit">
      <h3 class="button-wrapper">Edytuj</h3>
      <b-alert show variant="warning" dismissible>
        Kliknij dwukrotnie w wybrany rekord, aby edytować.
      </b-alert>
      <b-form-group id="idFieldset"
                    label-for="idInput">
        <b-form-input id="idInput"
                      type="text"
                      :disabled="true"
                      v-model="form.id">
        </b-form-input>
      </b-form-group>

      <b-form-group
        id="ticketFieldset"
        label="Podaj typ biletu"
        label-for="ticketInput"
        :invalid-feedback="ticketInvalidFeedback"
        :state="ticketState">
        <b-form-input id="ticketInput" :state="ticketState" v-model.trim="form.type" required></b-form-input>
      </b-form-group>

      <b-form-group
        id="priceFieldset"
        label="Podaj cenę"
        label-for="priceInput"
        :invalid-feedback="priceInvalidFeedback"
        :state="priceState">
        <b-form-input type="number" step="0.01" id="priceInput" :state="priceState" v-model.trim="form.price"
                      required></b-form-input>
      </b-form-group>

      <b-button type="submit" variant="primary">Zapisz</b-button>
    </b-form>

    <ticket-type-form v-if="showAddTicketType" @added="fetchData"/>
  </div>
</template>

<script>
  import TicketTypeForm from "../../components/admin/TicketTypeForm";
  import {adminService} from "../../services/admin.service";

  export default {
    name: "TicketTypePanel",
    components: {TicketTypeForm},
    data() {
      return {
        filter: null,
        totalRows: null,
        currentPage: 1,
        perPage: 10,
        showEditTicketType: false,
        showAddTicketType: false,
        form: {
          id: null,
          type: '',
          price: '',
        },
        tickets: [],
        fields: [
          {key: 'id', label: 'ID', sortable: true},
          {key: 'type', label: 'Typ biletu', sortable: true},
          {key: 'price', label: 'Cena biletu', sortable: true},
        ],
      }
    },
    created() {
      this.fetchData();
    },
    methods: {
      onSubmit() {
        adminService.addOrUpdateTicketType(this.form)
          .then(() => {
            this.fetchData();
          });
      },
      fetchData() {
        this.$http.get(`/api/user/getTicketType`)
          .then(response => {
            this.tickets = response.data.data;
          })
      },
      onFiltered(filteredItems) {
        this.totalRows = filteredItems.length;
        this.currentPage = 1;
      },
      selectRow(item, index, event) {
        this.form = item;
      },
      addTicketType() {
        this.showAddTicketType = true;
        this.showEditTicketType = false;
      },
      editTicketType() {
        this.showAddTicketType = false;
        this.showEditTicketType = true;
      },
      closeForm() {
        this.showAddTicketType = false;
        this.showEditTicketType = false;
        this.form = {
          id: null,
          type: '',
          price: '',
        };
      }
    },
    computed: {
      ticketState() {
        return this.form.type.length >= 1 && this.form.type.length <= 6;
      },
      ticketInvalidFeedback() {
        if (this.form.type.length >= 1 && this.form.type.length <= 6) {
          return '';
        } else if (this.form.type.length > 0 || this.form.type.length > 6) {
          return 'Typ biletu musi składać się z 1 do 6 znaków.';
        } else {
          return 'Typ biletu musi składać się z 1 do 6 znaków.';
        }
      },
      priceState() {
        return this.form.price.length >= 1 && this.form.price.length <= 8;
      },
      priceInvalidFeedback() {
        if (this.form.price.length >= 1 && this.form.price.length <= 8) {
          return '';
        } else if (this.form.price.length > 0 || this.form.price.length > 8) {
          return 'Cena musi składać się z 1 do 8 znaków.';
        } else {
          return 'Cena musi składać się z 1 do 8 znaków.';
        }
      },
    },
  }
</script>

<style lang="scss" scoped>

  .ticketTypePanelMainWrapper {
    margin: 20px auto;
  }

  .button-wrapper {
    margin-top: 20px;
  }

  .filter {
    margin-bottom: 10px;
  }
</style>
