<template>
  <div class="show-list-wrapper">
    <div v-for="entry in shows" :key="entry.id">
      <employee-show-list-item :small-version="smallVersion" @chosen-show="selectEntry" :modalRef="$refs"
                               :entry="entry"/>
    </div>
  </div>
</template>

<script>
  import EmployeeShowListItem from "./EmployeeShowListItem";

  export default {
    name: "EmployeeShowList",
    props: {
      shows: {
        type: Array
      },
      smallVersion: {
        type: Boolean,
        default: false,
        required: false
      }
    },
    components: {EmployeeShowListItem},
    data() {
      return {
        showModal: false,
        chosenShow: {
          date: '',
          id: 0,
          movie: {
            title: '',
            duration: '',
            genre: '',
            ulrImageLink: ''
          },
          projection: '',
          room: {
            cinema: {
              street: '',
              town: '',
              building_number: ''
            }
          },
          version: ''
        }
      }
    },
    methods: {
      selectEntry(entry) {
        this.chosenShow = entry;
      }
    },
  }
</script>

<style lang="scss" scoped>

  .show-list-wrapper {
    width: 75%;
    margin: auto;

    @media (max-width: 768px) {
      width: 95%;
    }
  }
</style>
