<template>
  <div class="wrapper">
    <div class="spinner" v-if="isReady === false">
      <half-circle-spinner
        :animation-duration="1000"
        :size="80"
        color="#ffc107"/>
    </div>

    <div v-else :style="styleRoomBorder">
      <div class="screen">EKRAN</div>
      <div v-for="item in seats" :class="[{chosenSeat: item.isChosen}, item.class]">
        <div
          v-if="typeof item.seat !== 'undefined' && typeof item.seat.id !== 'undefined'"
          @click="bookSeat(item)"
          class="seatNumber">{{item.seat.seat_number}}
          <div
            v-if="item.seat.seat_number == 1"
            class="rowLabel">
            {{item.seat.row}}
          </div>
        </div>
      </div>
    </div>

    <b-btn v-b-modal.reservationModal :disabled="chosenSeats.length === 0" variant="warning">SPRZEDAJ BILET</b-btn>

    <b-container>
      <b-row>
        <b-col class="seatDescription">
          <b-row>
            <b-col md="6" lg="7">
              <div>
                <div class="seat available" id="available"></div>
                <div class="label">Wolne miejsce</div>
              </div>
            </b-col>
            <b-col md="6" lg="5">
              <div>
                <div class="seat vip" id="vip"></div>
                <div class="label">Wolne miejsce VIP</div>
              </div>
            </b-col>
          </b-row>
          <b-row>
            <b-col md="6" lg="7">
              <div>
                <div class="seat disabled-seat" id="disabled"></div>
                <div class="label">Wolne miejsce dla niepełnosprawnych</div>
              </div>
            </b-col>
            <b-col md="6" lg="5">
              <div>
                <div class="seat chosenSeat" id="chosen"></div>
                <div class="label">Wybrane miejsce</div>
              </div>
            </b-col>
          </b-row>
          <b-row>
            <b-col md="6" lg="7">
              <div class="seat unavailable" id="unavailable"></div>
              <div class="label">Zajęte miejsce</div>
            </b-col>
          </b-row>
        </b-col>
        <b-col class="seatDescription">
          <div>CENNIK</div>
          <b-row>
            <b-col v-for="value in priceList" :key="value.id">
              {{value.ticketType.charAt(0).toUpperCase() + value.ticketType.slice(1)}}: {{value.price}} zł
            </b-col>
          </b-row>
        </b-col>
      </b-row>
    </b-container>

    <b-modal id="reservationModal" ref="myModalRef"
             hide-footer
             header-bg-variant="dark"
             header-text-variant="light"
             body-bg-variant="light"
             body-text-variant="dark"
             title="Sprzedaj bilety">

      <b-container fluid>
        <h5 class="attribute-name">Wybrane miejsca:</h5>
        <b-row align-v="center" class="reservation-row" v-for="(el, index) in chosenSeats" :key="el.id">
          <b-col sm="6">
            {{index+1}}. Rząd: {{el.seat.row}}, miejsce:
            {{el.seat.seat_number}}
          </b-col>
          <b-col sm="6">
            <b-form-select @change="setTicketTypeAndRelief($event, index)"
                           :options="filteredTickets"/>
          </b-col>
        </b-row>
        <h5>Suma do zapłaty: {{totalAmountDue}} zł</h5>
        <p style="font-weight: lighter; font-size: small" v-if="vipSeatsCount > 0">(Doliczono 3 złote za każdy fotel
          VIP)</p>
      </b-container>

      <b-btn @click="confirmReservation" :disabled="!emailState && !isLoggedIn" variant="warning">Potwierdź sprzedaż
      </b-btn>
    </b-modal>
  </div>
</template>

<script>
  import HalfCircleSpinner from "epic-spinners/src/components/lib/HalfCircleSpinner";
  import checkReservationTimeMixin from "../../mixins/checkReservationTimeMixin";
  import {employeeService} from "../../services/employee.service";
  import {loginService} from "../../services/login.service";

  export default {
    name: "EmployeeScreeningRoomTickets",
    components: {HalfCircleSpinner},
    props: {
      reservation: {}
    },
    data: function () {
      return {
        user: null,
        emailValue: null,
        styleRoomBorder: {
          border: 'solid 1px rgba(0, 0, 0, .2)',
          cursor: 'crosshair',
          paddingLeft: '20px',
          paddingRight: '20px',
        },
        showId: null,
        seats: [],
        rawSeats: [],
        chosenSeats: [],
        isReady: false,
        priceList: [],
        options: [],
        selectedTicketType: null,
        resp: [],
        totalAmountDue: 0,
        vipSeatsCount: 0,
      };
    },
    created() {
      this.getSeats();
    },
    methods: {
      bookSeat(item) {
        if (!item.class.includes('unavailable')) {
          item.isChosen = !item.isChosen;
          if (item.isChosen) {
            this.chosenSeats.push({seat: item.seat});
          } else {
            this.chosenSeats = this.chosenSeats.filter(obj => {
              return obj.seat.id !== item.seat.id;
            });
          }
        }
        this.countVipSeats();
      },
      getPriceList(value) {
        this.$http.get(`/api/user/getTicketByProjection`, {params: {projection: value}})
          .then(response => {
            this.priceList = response.data.data;
            this.tickets = response.data.data.map((obj => {
              if (this.reservation !== undefined && this.reservation.length > 14) {
                obj.price = obj.price * 0.85;
              }
              return {
                value: obj,
                text: `${obj.ticketType}, ${obj.price}zł`,
              }
            }));
          });
      },
      getSeats() {
        this.$http.get(`/api/user/getSeatByShowId/${this.$route.params.showId}`)
          .then(response => {
              if (this.checkReservationTime(response.data.data[0].show.date)) {
                alert('Możliwość rezerwacji miejsca na tym seansie została wyłączona!');
                this.$router.push({name: 'Tickets'});
              } else {
                this.resp = response.data.data;
                this.getPriceList(response.data.data[0].show.projection);
                this.rawSeats = response.data.data.map(function (item) {
                  return {
                    id: item.id,
                    price: 0,
                    status: item.status,
                    coordinates_X: item.armchair.coordinates_X,
                    coordinates_Y: item.armchair.coordinates_Y,
                    row: item.armchair.row,
                    seat_number: item.armchair.seat_number,
                    armchair_type: item.armchair.armchair_type,
                    show: item.show,
                    armchair: item.armchair,
                    employee: item.employee
                  };
                });
                this.prepareSeats();
              }
            }
          )
      },
      prepareSeats() {
        let seatClasses = [];
        for (let i = 0; i < 9; i++) {
          for (let j = 0; j < 20; j++) {
            if (j === 0) {
              seatClasses.push({class: 'blank rowStart', x: j, y: i, isChosen: false});
            } else {
              seatClasses.push({class: 'blank', x: j, y: i, isChosen: false});
            }
          }
        }
        for (let i = 0; i < this.rawSeats.length; i++) {
          for (let j = 0; j < seatClasses.length; j++) {
            if (this.rawSeats[i].coordinates_X === seatClasses[j].x && this.rawSeats[i].coordinates_Y === seatClasses[j].y) {
              this.changeSeatClass(seatClasses, j, this.rawSeats, i);
            }
          }
        }
        this.seats = seatClasses;
        setTimeout(() => {
          if (this.reservation !== undefined && this.reservation.length > 0) {
            this.setBookedSeats();
            this.$forceUpdate();
          }
          this.isReady = true;
        }, 1000);
      },
      changeSeatClass(seatClassArray, seatIndex, rawSeat, rawSeatIndex) {
        let seatClass = '';
        if (rawSeat[rawSeatIndex].armchair_type === 'VIP' && rawSeat[rawSeatIndex].status === 'wolne') {
          seatClass = 'seat vip'
        } else if (rawSeat[rawSeatIndex].armchair_type === 'specjalne' && rawSeat[rawSeatIndex].status === 'wolne') {
          seatClass = 'seat disabled-seat'
        } else if (rawSeat[rawSeatIndex].status === 'wolne') {
          seatClass = 'seat available'
        } else {
          seatClass = 'seat unavailable'
        }
        seatClassArray[seatIndex].class = seatClassArray[seatIndex].class.replace('blank', seatClass);
        seatClassArray[seatIndex].seat = rawSeat[rawSeatIndex];
      },
      confirmReservation() {
        employeeService.getEmployeeByLogin(loginService.getLogin(localStorage.getItem('user')))
          .then(response => {
            let preparedSeats = this.chosenSeats.map(obj => {
              let item = {
                id: obj.seat.id,
                price: obj.seat.price,
                reliefType: obj.seat.relief_type,
                status: obj.seat.status,
                show: obj.seat.show,
                armchair: obj.seat.armchair,
                employee: response,
                reservation: null
              };
              return item;
            });
            employeeService.sellTicket(preparedSeats);
            employeeService.confirmReservation(this.seats);
            this.$router.push({name: 'Tickets'});
          })
      },
      setTicketTypeAndRelief(object, index) {
        if (this.chosenSeats[index].seat.armchair_type === 'VIP') {
          this.chosenSeats[index].seat.price = object.price + 3;
        } else {
          this.chosenSeats[index].seat.price = object.price;
        }
        this.chosenSeats[index].seat.relief_type = object.ticketType;
        this.totalAmountDue = this.chosenSeats.map(item => item.seat.price).reduce((prev, next) => prev + next);
      },
      setBookedSeats() {
        let bookedSeats = this.bookedSeats;
        let seats = this.seats;
        let chosenSeats = this.chosenSeats;
        bookedSeats.forEach(bookedSeatId => {
          seats.forEach(seat => {
            if (seat.seat !== undefined && seat.seat.id === bookedSeatId) {
              seat.isChosen = true;
              chosenSeats.push({seat: seat.seat});
            }
          })
        });
        this.countVipSeats();
      },
      countVipSeats() {
        if (this.chosenSeats !== undefined) {
          this.vipSeatsCount = this.chosenSeats.filter(el => el.seat.armchair_type === 'VIP').length;
        }
      }
    },
    computed: {
      isLoggedIn() {
        return !!localStorage.getItem('user');
      },
      emailState() {
        const re = /^(([^<>()\[\]\\.,;:\s@"]+(\.[^<>()\[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
        return re.test(this.emailValue);
      },

      filteredTickets() {
        if (this.resp.length > 0) {
          return this.tickets.filter((ticket) => {
            return ticket.value.projectionType.match(this.resp[0].show.projection);
          })
        }
      },
      bookedSeats() {
        if (this.reservation !== undefined) {
          return this.reservation.map(Number);
        } else return []
      },
    },
    mixins: [checkReservationTimeMixin]
  }

</script>

<style lang="scss" scoped>

  .wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-top: 20px;
  }

  .spinner {
    margin-top: 20px;
    margin-bottom: 35px;
  }

  .seat {
    width: 20px;
    height: 20px;
    margin: 2px;
    float: left;

    @media (max-width: 540px) {
      width: 10px;
      height: 10px;
      font-size: 0.5em;
    }
  }

  .blank {
    width: 20px;
    height: 20px;
    margin: 2px;
    float: left;

    @media (max-width: 540px) {
      width: 10px;
      height: 10px;
      font-size: 0.5em;
    }
  }

  .available {
    background-color: #96c131;
  }

  .unavailable {
    background-color: #8b8a91;
  }

  .vip {
    background-color: #9965b5;
  }

  .disabled-seat {
    background-image: linear-gradient(45deg, #96c131 25%, #6a8c1c 25%, #6a8c1c 50%, #96c131 50%, #96c131 75%, #6a8c1c 75%, #6a8c1c 100%);
    background-size: 14.14px 14.14px;
  }

  .available:hover, .vip:hover, .disabled-seat:hover {
    filter: brightness(120%) !important;;
  }

  .chosenSeat {
    background-color: #ff7e00 !important;
    background-image: unset;
  }

  .rowStart {
    clear: both;
  }

  .seatNumber {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    top: -4%;
    left: 2%;
    width: 100%;
    height: 100%;
  }

  .screen {
    display: flex;
    justify-content: center;
    margin: 10px 25px 30px;
    background-color: rgba(57, 130, 168, 0.36);
  }

  .seatDescription {
    margin: 10px 20px 10px;
    padding: 10px;
    border: solid 1px rgba(0, 0, 0, .2);
  }

  .priceList {
    margin: 10px 20px 10px;
    border: solid 1px rgba(0, 0, 0, .2);
  }

  .rowLabel {
    transform: translate(-18px);
    color: #8b8a91;
    position: absolute;
    font-size: 0.7em;
  }

  .label {
    padding-left: 24px;
    margin-left: auto;
    margin-bottom: 0px;
    width: 100%;
  }

  div.col {
    margin: 10px 10px 10px 20px;
    width: 100%;
  }

  .btn {
    margin: 10px;
  }

  .modal-chosen-seat {
    margin: 0;
  }

  input {
    margin-left: 10px;
    width: 90%;
  }
</style>
