<template>
  <div id="calendar-wrapper">
    <div v-if="window.width > 768" id="calendar-list">
      <button v-for="day in currentWeek" :key="day.day" @click="activate(day)"
              :class="{ active : activeElement == day.id }" type="button"
              class="btn btn-outline-dark">
        <span>{{day.day | leadingZero}}.{{day.month | leadingZero}}</span>
        <span>{{day.weekday | capitalize | truncate(3)}}</span>
        <span>({{day.monthName | capitalize | truncate(3)}})</span>
      </button>
    </div>

    <div v-else id="calendar-select">
      <b-form-select @change="activate" v-model="selected" class="mb-3">
        <template :value="null" slot="first">
          <option disabled>-- Wybierz dzień --</option>
        </template>
        <option v-for="day in currentWeek" :value="day">{{day.day | leadingZero}}.{{day.month |
          leadingZero}}.{{day.year}} ({{day.weekday}})
        </option>
      </b-form-select>
    </div>
  </div>
</template>

<script>
  import calendar from "../mixins/calendarGeneratorFunction";

  export default {
    name: "Calendar",
    data() {
      return {
        currentWeek: {},
        activeElement: 0,
        selected: null,
        window: {
          width: 0,
        }
      }
    },
    created: function () {
      this.currentWeek = calendar.prepareWeekCalendar();
      window.addEventListener('resize', this.handleResize)
      this.handleResize();
    },
    destroyed() {
      window.removeEventListener('resize', this.handleResize)
    },
    methods: {
      activate: function (day) {
        this.activeElement = day.id;
        this.selected = day;
        this.$emit('active-day', day);
      },
      handleResize() {
        this.window.width = window.innerWidth;
      }
    },
    filters: {
      capitalize: function (value) {
        if (!value) return '';
        return value.toString().toUpperCase();
      },
      truncate: function (value, charNumber) {
        if (!value) return '';
        value = value.toString();
        return value.slice(0, charNumber);
      },
      leadingZero: function (value) {
        if (!value) return '';
        value = '0' + value.toString();
        return value.slice(-2);
      }
    },
  }
</script>

<style lang="scss" scoped>
  @import "../scss/colors";

  #calendar-wrapper {
    text-align: center;
    width: 100%;
    margin: auto;

    @media (max-width: 768px) {
      width: 95%;
    }
  }

  span {
    display: block;
  }

  button {
    width: 86px;
    height: 86px;
    font-weight: bold;
    margin: 10px 3px 10px;
  }

  #calendar-list li {
    display: inline-block;
  }

  #calendar-select {
    margin: 10px;
  }
</style>
