<template>
  <div id="coming-soon-entry-wrapper">
    <img id="cover" :src="movie.urlImageLink"/>
    <p id="title">{{ movie.title }}</p>
    <p id="date">W kinach od {{ movie.sinceDate | releaseDate }}</p>
  </div>
</template>

<script>
  export default {
    name: "ComingSoonEntry",
    props: {
      movie: Object,
    },
    filters: {
      releaseDate(value) {
        if (!value) return '';
        let options = {day: '2-digit', month: '2-digit', year: 'numeric'};
        return new Date(value).toLocaleDateString('pl-PL', options);
      }
    }
  }
</script>

<style lang="scss" scoped>
  @import "../scss/colors";

  $content-width: 203px;
  $padding: 10px;

  #coming-soon-entry-wrapper {
    text-align: center;
    padding: $padding;
    margin: 10px;
    border-radius: 6px;
    border: solid 1px $primary-light;
    background-color: $background-additional;
    transition: 0.2s;

    &:hover {
      outline: 0;
      border-color: $secondary;
      box-shadow: 0 0 10px $secondary;
    }
  }

  #cover {
    width: $content-width;
    text-align: center;
    height: 300px;
  }

  #title {
    max-width: $content-width;
    margin: 5px auto;
    font-weight: bold;
  }

  #date {
    max-width: $content-width;
    margin: auto;
  }
</style>
