<template>
  <div id="footer">
    <div class="row">
      <div class="col col-md-6" id="social-col">
        <ul class="socialMedia">
          <h5>Social media</h5>
          <li><a href="https://www.facebook.com">FACEBOOK</a></li>
          <li><a href="https://www.twitter.com">TWITTER</a></li>
          <li><a href="https://www.instagram.com">INSTAGRAM</a></li>
        </ul>
      </div>
      <div class="col col-md-6 ml-auto">
        <ul class="contact">
          <h5>Kontakt</h5>
          <li><strong>Adres:</strong> {{cinema.street}} {{cinema.building_number}}, {{cinema.town}}</li>
          <li><strong>Numer telefonu:</strong> {{cinema.phone_number | phoneNumber}}</li>
          <li><strong>E-mail:</strong> <a :href="'mailto:'+cinema.email">{{cinema.email}}</a></li>
        </ul>
      </div>
    </div>
    <div class="row contact">
      <div class="col col-md-12">
        <p>&copy Kacper Onak, Krystian Rasławski</p>
        <p>2018 - 2019</p>
      </div>
    </div>
  </div>
</template>

<script>
  export default {
    name: "Footer",
    data() {
      return {
        cinema: [],
      }
    },
    mounted  () {
      this.cinema = JSON.parse(localStorage.getItem('cinema'));
    },
    filters: {
      phoneNumber: function (value) {
        if (!value) return '';
        value = value.toString().replace(/(.{3})/g,"$1 ");
        return value;
      }
    }
  }
</script>

<style lang="scss" scoped>
  @import "../scss/colors";

  #footer {
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 10px;
    margin-top: 10px;
  }

  div {
    color: $primary-light;
  }

  #social-col {
    text-align: right;
    @media (max-width: 548px) {
      text-align: center;
      padding: auto;
    }
  }

  ul.socialMedia, ul.contact {
    list-style-type: none;
    padding-left: 0;
    a {
      color: $primary-light;

      &:hover {
        color: $secondary;
        text-decoration-line: none;
      }
    }


    @media (max-width: 548px) {
      text-align: center;
      padding-left: 0;
    }
  }

  h5 {
    font-weight: bold;
  }

  p {
    display: flex;
    color: $primary-light;
    font-weight: lighter;
    font-size: 0.8rem;
    justify-content: center;
    align-content: center;
    margin: 0;
  }
</style>
