<template>
  <div id="navipanel">
    <b-navbar class="ml-auto" toggleable="md" type="dark" variant="dark">
      <div class="topNav">
        <div class="sideItemLeft">
          <!--&nbsp-->
          <b-navbar-nav type="dark" class="ml-auto">
            <b-nav-item class="chosen-cinema" @click="changeCinema" exact left>Wybrane kino: {{chosenCinema}},
              <p><i>kliknij aby zmienić</i></p></b-nav-item>
          </b-navbar-nav>
        </div>

        <div class="middleItem">
          <b-navbar-brand :to="{ name: 'CinemaHomeContent' }">
            <img src="./../assets/logo-secondary-text-bottom.svg" alt="KINO INŻYNIER">
          </b-navbar-brand>
        </div>

        <div class="sideItemRight">
          <b-navbar-nav v-if="!isLogged" type="dark" class="ml-auto">
            <b-nav-item :to="{ name: 'Login' }" right>Logowanie</b-nav-item>
            <b-nav-item :to="{ name: 'SignUp' }" right>Rejestracja</b-nav-item>
          </b-navbar-nav>
          <b-navbar-nav v-else-if="isLogged" type="dark" class="ml-auto">
            <b-nav-item-dropdown type="dark" right>
              <template slot="button-content">&#x1F464;Moje konto</template>
              <b-dropdown-item :to="{ name: 'AccountSettings' }">Ustawienia konta</b-dropdown-item>
              <b-dropdown-divider />
              <b-dropdown-item @click="logout()">Wyloguj</b-dropdown-item>
            </b-nav-item-dropdown>
          </b-navbar-nav>
        </div>
      </div>
    </b-navbar>

    <div id="navbar-gradient"></div>

    <b-navbar toggleable="md" type="dark" variant="secondary">
      <b-navbar-toggle target="nav_collapse"></b-navbar-toggle>
      <b-collapse is-nav id="nav_collapse">
        <b-navbar-nav>
          <b-nav-item :to="{ name: 'CinemaHomeContent' }" exact>Strona główna</b-nav-item>
          <b-nav-item :to="{ name: 'Show' }">Repertuar</b-nav-item>
          <b-nav-item :to="{ name: 'ComingSoon' }">Zapowiedzi</b-nav-item>
          <b-nav-item :to="{ name: 'PriceList' }">Cennik</b-nav-item>
          <b-nav-item :to="{ name: 'AboutUs' }">O nas</b-nav-item>
          <b-nav-item :to="{ name: 'Contact' }">Kontakt</b-nav-item>
        </b-navbar-nav>
      </b-collapse>
    </b-navbar>
  </div>
</template>

<script>
  import {mapGetters} from 'vuex'
  import {mapActions} from 'vuex'
  import {loginService} from "../services/login.service";

  export default {
    name: "Navipanel",
    methods: {
      ...mapActions({
        removeCinema: 'store/removeCinema',
        storeLogout: 'store/storeLogout'
      }),
      changeCinema() {
        this.removeCinema();
        setTimeout(() => {
          this.$router.push({name: `App`});
        }, 100);
      },
      logout() {
        loginService.logout();
        this.storeLogout(false);
        setTimeout(() => {
          this.$router.push({name: 'CinemaHomeContent'});
        }, 500)
      }
    },
    computed: {
      ...mapGetters({
        getCinema: 'store/getCinema',
        isLogged: 'store/isLogged'
      }),
      chosenCinema() {
        if (!!this.getCinema) {
          let cinema = JSON.parse(this.getCinema);
          return `${cinema.town}, ${cinema.street} ${cinema.building_number}`;
        } else {
          return ``;
        }
      }
    }
  }
</script>

<style lang="scss" scoped>
  @import "../scss/colors";

  @mixin navSideItem($prop) {
    ul.navbar-nav {
      float: $prop;
      @media (max-width: 768px) {
        margin-top: 10px;
        margin-left: auto;
        margin-right: auto;
        float: none;
      }
    }
  }

  .topNav {
    width: 100%;
    display: flex;
    justify-content: space-between;
    @media (max-width: 768px) {
      justify-content: center;
      flex-wrap: wrap;
    }
  }

  .sideItemRight, .sideItemLeft {
    width: 25%;
    @media (max-width: 768px) {
      width: 100%;
      display: flex;
      justify-content: center;
      flex-direction: column;
    }
  }

  div.sideItemRight {
    @include navSideItem(right);
  }

  div.sideItemLeft {
    @include navSideItem(left);
    font-size: 0.8rem;
    font-weight: lighter;
  }

  .middleItem {
    width: 100%;
    text-align: center;
    margin: auto;

    a {
      margin: auto;
    }
  }

  img {
    width: 205px;
    @media (max-width: 768px) {
      width: 150px;
    }
  }

  .navbar-nav {
    .nav-item {
      .nav-link.active {
        color: $secondary;
      }
    }
  }

  #navbar-gradient {
    background: $primary-dark;
    background: -moz-linear-gradient(top, $primary-dark 0%, $primary-light 100%);
    background: -webkit-linear-gradient(top, $primary-dark 0%, $primary-light 100%);
    background: -o-linear-gradient(top, $primary-dark 0%, $primary-light 100%);
    background: -ms-linear-gradient(top, $primary-dark 0%, $primary-light 100%);
    background: linear-gradient(to bottom, $primary-dark 0%, $primary-light 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#343a40', endColorstr='#ffc107', GradientType=0);
    height: 4px;
  }
</style>
