<template>
  <div class="wrapper">
    <div class="spinner" v-if="isReady === false">
      <half-circle-spinner
        :animation-duration="1000"
        :size="80"
        color="#ffc107"/>
    </div>

    <div v-else :style="styleRoomBorder">
      <div class="screen">EKRAN</div>
      <div v-for="item in seats" :class="[{chosenSeat: item.isChosen}, item.class]">
        <div
          v-if="typeof item.seat !== 'undefined' && typeof item.seat.id !== 'undefined'"
          @click="bookSeat(item)"
          class="seatNumber">{{item.seat.seat_number}}
          <div
            v-if="item.seat.seat_number == 1"
            class="rowLabel">
            {{item.seat.row}}
          </div>
        </div>
      </div>
    </div>

    <b-btn v-b-modal.reservationModal :disabled="chosenSeats.length === 0" variant="warning">REZERWUJ MIEJSCA</b-btn>

    <b-container>
      <b-row>
        <b-col class="seatDescription">
          <b-row>
            <b-col md="6" lg="7">
              <div>
                <div class="seat available" id="available"></div>
                <div class="label">Wolne miejsce</div>
              </div>
            </b-col>
            <b-col md="6" lg="5">
              <div>
                <div class="seat vip" id="vip"></div>
                <div class="label">Wolne miejsce VIP</div>
              </div>
            </b-col>
          </b-row>
          <b-row>
            <b-col md="6" lg="7">
              <div>
                <div class="seat disabled-seat" id="disabled"></div>
                <div class="label">Wolne miejsce dla niepełnosprawnych</div>
              </div>
            </b-col>
            <b-col md="6" lg="5">
              <div>
                <div class="seat chosenSeat" id="chosen"></div>
                <div class="label">Wybrane miejsce</div>
              </div>
            </b-col>
          </b-row>
          <b-row>
            <b-col md="6" lg="7">
              <div class="seat unavailable" id="unavailable"></div>
              <div class="label">Zajęte miejsce</div>
            </b-col>
          </b-row>
        </b-col>
        <b-col class="seatDescription">
          <div>CENNIK</div>
          <b-row>
            <b-col v-for="value in priceList" :key="value.id">
              {{value.ticketType.charAt(0).toUpperCase() + value.ticketType.slice(1)}}: {{value.price}} zł
            </b-col>
          </b-row>
        </b-col>
      </b-row>
    </b-container>

    <b-modal id="reservationModal" ref="myModalRef"
             hide-footer
             header-bg-variant="dark"
             header-text-variant="light"
             body-bg-variant="light"
             body-text-variant="dark"
             title="Rezerwuj miejsca">

      <b-container fluid>
        <h5 class="attribute-name">Wybrane miejsca:</h5>
        <p class="modal-chosen-seat" v-for="(el, index) in chosenSeats">{{index+1}}. Rząd: {{el.seat.row}}, miejsce:
          {{el.seat.seat_number}}</p>
      </b-container>
      <div v-if="!isLoggedIn" class="user-input">
        <hr>
        <p>Proszę podać adres email, na który przyjdzie wiadomość z kodem potwierdzającym rezrwację, który należy podać
          w kasie w kinie.</p>
        <b-form-input id="emailInput" :state="emailState"
                      placeholder="Podaj adres e-mail..." v-model.trim="emailValue"
                      required></b-form-input>
      </div>

      <b-btn @click="confirmReservation" :disabled="!emailState && !isLoggedIn" variant="warning">Zatwierdź rezerwację
      </b-btn>
    </b-modal>


  </div>
</template>

<script>
  import HalfCircleSpinner from "epic-spinners/src/components/lib/HalfCircleSpinner";
  import {loginService} from "../services/login.service";
  import checkReservationTimeMixin from "../mixins/checkReservationTimeMixin";

  export default {
    name: "ScreeningRoom",
    components: {HalfCircleSpinner},
    data: function () {
      return {
        user: {},
        emailValue: null,
        styleRoomBorder: {
          border: 'solid 1px rgba(0, 0, 0, .2)',
          cursor: 'crosshair',
          paddingLeft: '20px',
          paddingRight: '20px',
        },
        showId: null,
        seats: [],
        rawSeats: [],
        chosenSeats: [],
        isReady: false,
        priceList: [],
      };
    },
    created() {
      this.getSeats();
    },
    methods: {
      bookSeat(item) {
        if (!item.class.includes('unavailable')) {
          item.isChosen = !item.isChosen;
          if (item.isChosen) {
            this.chosenSeats.push({seat: item.seat});
          } else {
            this.chosenSeats = this.chosenSeats.filter(obj => {
              return obj.seat.id !== item.seat.id;
            });
          }
        }
      },
      getPriceList(value) {
        this.$http.get(`/api/user/getTicketByProjection/`, {params: {projection: value}})
          .then(response => {
            this.priceList = response.data.data
          })
      },
      getSeats() {
        this.$http.get(`/api/user/getSeatByShowId/${this.$route.params.showId}`)
          .then(response => {
              if (this.checkReservationTime(response.data.data[0].show.date)) {
                alert('Możliwość rezerwacji miejsca na tym seansie została wyłączona!');
                this.$router.push({name: 'Show'});
              } else {
                this.getPriceList(response.data.data[0].show.projection)
                this.rawSeats = response.data.data.map(function (item) {
                  return {
                    id: item.id,
                    status: item.status,
                    coordinates_X: item.armchair.coordinates_X,
                    coordinates_Y: item.armchair.coordinates_Y,
                    row: item.armchair.row,
                    seat_number: item.armchair.seat_number,
                    armchair_type: item.armchair.armchair_type
                  };
                });
                this.prepareSeats();
              }
            }
          )
      },
      prepareSeats() {
        let seatClasses = [];
        for (let i = 0; i < 9; i++) {
          for (let j = 0; j < 20; j++) {
            if (j === 0) {
              seatClasses.push({class: 'blank rowStart', x: j, y: i, isChosen: false});
            } else {
              seatClasses.push({class: 'blank', x: j, y: i, isChosen: false});
            }
          }
        }
        for (let i = 0; i < this.rawSeats.length; i++) {
          for (let j = 0; j < seatClasses.length; j++) {
            if (this.rawSeats[i].coordinates_X === seatClasses[j].x && this.rawSeats[i].coordinates_Y === seatClasses[j].y) {
              this.changeSeatClass(seatClasses, j, this.rawSeats, i);
            }
          }
        }
        this.seats = seatClasses;
        setTimeout(() => {
          this.isReady = true;
        }, 1000);
      },

      changeSeatClass(seatClassArray, seatIndex, rawSeat, rawSeatIndex) {
        let seatClass = '';
        if (rawSeat[rawSeatIndex].armchair_type === 'VIP' && rawSeat[rawSeatIndex].status === 'wolne') {
          seatClass = 'seat vip'
        } else if (rawSeat[rawSeatIndex].armchair_type === 'specjalne' && rawSeat[rawSeatIndex].status === 'wolne') {
          seatClass = 'seat disabled-seat'
        } else if (rawSeat[rawSeatIndex].status === 'wolne') {
          seatClass = 'seat available'
        } else {
          seatClass = 'seat unavailable'
        }
        seatClassArray[seatIndex].class = seatClassArray[seatIndex].class.replace('blank', seatClass);
        seatClassArray[seatIndex].seat = rawSeat[rawSeatIndex];
      },
      confirmReservation() {
        let reservation;
        if (this.isLoggedIn) {
          loginService.getUserByLogin(loginService.getLogin(localStorage.getItem('user')))
            .then(response => {
              reservation = this.chosenSeats.map(obj => {
                this.user = response;
                this.emailValue = loginService.getEmail(JSON.parse(localStorage.getItem('user'))).toString();
                obj.user = this.user;
                obj.confirmatoryCode = null;
                return obj;
              });
            }).then(() => {
            this.postReservations(reservation);
          });
        } else {
          reservation = this.chosenSeats.map(obj => {
            obj.confirmatoryCode = null;
            obj.user = null;
            return obj;
          });
          this.postReservations(reservation);
        }
      },
      postReservations(reservation) {
        this.$http.post(`/api/user/addFewReservations`, reservation, {params: {emailValue: this.emailValue}})
          .then(response => {
            alert('Rezerwacja ukończona!');
            this.$router.push({name: 'Show'});
          }).catch(error => {
          alert('Wystąpił problem podczas rezerwacji...');
          this.$router.push({name: 'Show'});
        });
      }
    },
    computed: {
      isLoggedIn() {
        return !!localStorage.getItem('user');
      },
      emailState() {
        const re = /^(([^<>()\[\]\\.,;:\s@"]+(\.[^<>()\[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
        return re.test(this.emailValue);
      },
    },
    mixins: [checkReservationTimeMixin]
  }
</script>

<style lang="scss" scoped>

  .wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-top: 20px;
  }

  .spinner {
    margin-top: 20px;
    margin-bottom: 35px;
  }

  .seat {
    width: 20px;
    height: 20px;
    margin: 2px;
    float: left;

    @media (max-width: 540px) {
      width: 10px;
      height: 10px;
      font-size: 0.5em;
    }
  }

  .blank {
    width: 20px;
    height: 20px;
    margin: 2px;
    float: left;

    @media (max-width: 540px) {
      width: 10px;
      height: 10px;
      font-size: 0.5em;
    }
  }

  .available {
    background-color: #96c131;
  }

  .unavailable {
    background-color: #8b8a91;
  }

  .vip {
    background-color: #9965b5;
  }

  .disabled-seat {
    background-image: linear-gradient(45deg, #96c131 25%, #6a8c1c 25%, #6a8c1c 50%, #96c131 50%, #96c131 75%, #6a8c1c 75%, #6a8c1c 100%);
    background-size: 14.14px 14.14px;
  }

  .available:hover, .vip:hover, .disabled-seat:hover {
    filter: brightness(120%) !important;;
  }

  .chosenSeat {
    background-color: #ff7e00 !important;
    background-image: unset;
  }

  .rowStart {
    clear: both;
  }

  .seatNumber {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    top: -4%;
    left: 2%;
    width: 100%;
    height: 100%;
  }

  .screen {
    display: flex;
    justify-content: center;
    margin: 10px 25px 30px;
    background-color: rgba(57, 130, 168, 0.36);
  }

  .seatDescription {
    margin: 10px 20px 10px;
    padding: 10px;
    border: solid 1px rgba(0, 0, 0, .2);
  }

  .priceList {
    margin: 10px 20px 10px;
    border: solid 1px rgba(0, 0, 0, .2);
  }

  .rowLabel {
    transform: translate(-18px);
    color: #8b8a91;
    position: absolute;
    font-size: 0.7em;
  }

  .label {
    padding-left: 24px;
    margin-left: auto;
    margin-bottom: 0px;
    width: 100%;
  }

  div.col {
    margin: 10px 10px 10px 20px;
    width: 100%;
  }

  .btn {
    margin: 10px;
  }

  .modal-chosen-seat {
    margin: 0;
  }

  input {
    margin-left: 10px;
    width: 90%;
  }
</style>
