<template>
  <div>
    <div class="show-list-item-wrapper">
      <div class="row justify-content-center">
        <div v-if="smallVersion === false" class="col-lg-3 col-md-6 col-sm-6 cover">
          <router-link :to="{ name: 'Movie', params: { movieId: entry[0].movie.id }}">
            <img id="cover" :src="entry[0].movie.urlImageLink"></img>
            <p class="annotation">Kliknij w okładkę, aby przejść do informacji o filmie.</p>
          </router-link>

        </div>
        <div v-if="smallVersion === true" class="col-lg-5 col-md-6 col-sm-6 details">
          <h6>{{entry[0].date | showDate}}</h6>
        </div>
        <div v-if="smallVersion === false" class="col-lg-2 col-sm-6 col-sm-6 details">
          <p class="title">{{entry[0].movie.title}}</p>
          <p>{{entry[0].movie.duration}} minut</p>
          <p>{{entry[0].movie.genre}}</p>
        </div>
        <div class="col-lg-7 col-md-12 col-sm-12 show-time">
          <b-button :disabled="checkReservationTime(element.date)" @click="showModal(element)" v-for="element in entry"
                    :key="element.id" variant="warning">
            <p class="show-time">{{element.date | showTime}}</p>
            <p>{{element.projection}}</p>
            <p class="version">{{element.version}}</p>
          </b-button>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
  import showTimeAndDateMixin from "../mixins/showTimeAndDateMixin";
  import checkReservationTimeMixin from "../mixins/checkReservationTimeMixin";

  export default {
    name: "ShowListItem",
    props: {
      modalRef: Object,
      entry: {
        type: Array,
        required: true,
      },
      smallVersion: {
        type: Boolean,
        default: false,
        required: false
      }
    },
    methods: {
      showModal(element) {
        this.$emit('chosen-show', element);
        this.modalRef.myModal.showModal();
      },
    },
    mixins: [showTimeAndDateMixin, checkReservationTimeMixin],
  }
</script>

<style lang="scss" scoped>
  @import "../scss/colors";

  .show-list-item-wrapper {
    margin: 10px;
    border: solid 1px $primary-light;
    border-radius: 6px;
    background-color: $background-additional;
    transition: 0.2s;
    padding: 10px;

    &:hover {
      outline: 0;
      border-color: $secondary;
      box-shadow: 0 0 10px $secondary;
    }
  }

  img {
    width: 180px;
    height: 250px;
    box-shadow: 2px 2px 10px 0px rgba(52, 58, 64, 1);
  }

  .cover {
    text-align: center;
  }

  .details {
    display: flex;
    justify-content: center;
    flex-direction: column;
    @media (max-width: 992px) {
      align-items: center;
    }
  }

  .show-time {
    margin: auto;
    padding-top: 10px;
    padding-bottom: 10px;

    @media (max-width: 992px) {
      text-align: center;
    }
  }

  p {
    margin: 0;

    &.title {
      font-weight: bold;
    }

    &.version {
      text-transform: capitalize;
    }

    &.show-time {
      font-weight: bold;
      padding: 0;
    }
  }

  a {
    text-decoration: none;
    color: $primary-dark;
  }

  .annotation {
    text-align: center;
    font-weight: lighter;
    font-size: 0.8rem;
    margin: auto;
    width: 180px;
  }

  .btn {
    margin: 3px;
  }
</style>
