<template>
  <div class="show-list-wrapper">
    <show-list-modal :show="chosenShow" ref="myModal"/>
    <div v-for="entry in shows" :key="entry.id">
      <show-list-item :small-version="smallVersion" @chosen-show="selectEntry" :modalRef="$refs" :entry="entry"/>
    </div>
  </div>
</template>

<script>
  import ShowListItem from "../components/ShowListItem";
  import ShowListModal from "./ShowListModal";

  export default {
    name: "ShowList",
    props: {
      shows: {
        type: Array
      },
      smallVersion: {
        type: Boolean,
        default: false,
        required: false
      }
    },
    components: {ShowListModal, ShowListItem},
    data() {
      return {
        showModal: false,
        chosenShow: {
          date: '',
          id: 0,
          movie: {
            title: '',
            duration: '',
            genre: '',
            ulrImageLink: ''
          },
          projection: '',
          room: {
            cinema: {
              street: '',
              town: '',
              building_number: ''
            }
          },
          version: ''
        }
      }
    },
    methods: {
      selectEntry(entry) {
        this.chosenShow = entry;
      }
    },
  }
</script>

<style lang="scss" scoped>

  .show-list-wrapper {
    width: 75%;
    margin: auto;

    @media (max-width: 768px) {
      width: 95%;
    }
  }
</style>
