<template>
  <div>
    <b-modal ref="myModalRef" size="lg"
             hide-footer
             header-bg-variant="dark"
             header-text-variant="light"
             body-bg-variant="light"
             body-text-variant="dark">

      <template slot="modal-title">
        <h2>{{show.movie.title}}</h2>
      </template>

      <b-container fluid>
        <b-row class="mb-1 text-center">
        </b-row>
        <b-row>
          <b-col class="text-center" lg="6">
            <img :src="show.movie.urlImageLink"/>
          </b-col>
          <b-col class="attributes" lg="6">
            <table>
              <tr>
                <td class="attribute-name">Rodzaj projekcji:</td>
                <td class="attribute-value">{{show.projection}}</td>
              </tr>
              <tr>
                <td class="attribute-name">Wersja przekazu:</td>
                <td class="attribute-value">{{show.version}}</td>
              </tr>
              <tr>
                <td class="attribute-name">Czas trwania:</td>
                <td class="attribute-value">{{show.movie.duration}} minut</td>
              </tr>
              <hr>
              <tr>
                <td class="attribute-name">Wybrane kino:</td>
                <td class="attribute-value">{{show.room.cinema.town}}, {{show.room.cinema.street}}
                  {{show.room.cinema.building_number}}
                </td>
              </tr>
              <tr>
                <td class="attribute-name">Data seansu:</td>
                <td class="attribute-value">{{show.date | showDate}}</td>
              </tr>
              <tr>
                <td class="attribute-name">Godzina:</td>
                <td class="attribute-value">{{show.date | showTime}}</td>
              </tr>
            </table>
          </b-col>
        </b-row>
      </b-container>
      <b-btn class="mt-3" :to="{name: 'ScreeningRoom', params: { showId: show.id }}" variant="warning" block>REZERWUJ
        MIEJSCE
      </b-btn>
      <p class="annotation">Rezerwację należy potwierdzić w kasie, najpóźniej 20 minut przed rozpoczęciem seansu.</p>
    </b-modal>
  </div>
</template>

<script>
  import showTimeAndDateMixin from "../mixins/showTimeAndDateMixin";

  export default {
    name: "ShowListModal",
    props: {
      show: {
        type: Object,
      },
    },
    data() {
      return {}
    },
    methods: {
      showModal() {
        this.$refs.myModalRef.show()
      },
      hideModal() {
        this.$refs.myModalRef.hide()
      }
    },
    mixins: [showTimeAndDateMixin]
  }

</script>

<style lang="scss" scoped>

  table {
    margin: auto;
    table-layout: fixed;
  }

  tr {
    & > td {
      padding-bottom: 15px;
    }
  }

  td {
    width: 1px;
    white-space: nowrap;

    & + td {
      padding-left: 10px;
    }
  }

  .attributes {
    @media (max-width: 992px) {
      margin-top: 20px;
    }
  }

  .attribute-name {
    font-weight: bold;
  }

  .attribute-value {
    text-transform: capitalize;
  }

  .annotation {
    text-align: center;
    font-weight: lighter;
    font-size: 0.8rem;
    margin-top: 20px;
    margin-bottom: 5px;
  }

  img {
    max-width: 350px;

    @media (max-width: 768px) {
      max-width: 90%;
    }
  }
</style>
