<template>
  <div id="actor-panel-main-wrapper" class="actorPanelMainWrapper">
    <h3>Dodaj aktora</h3>
    <b-form @submit.prevent="onSubmit">
      <p>Wybierz aktora:</p>
      <b-input-group class="filter" prepend="Szukaj:">
        <b-form-input id="input-town" v-model="filter" placeholder="Podaj imię i/lub nazwisko"/>
      </b-input-group>
      <p class="description">Kliknij w element listy aby wybrać aktora...</p>
      <div class="sizeOfBList">
        <b-list-group>
          <b-list-group-item
            v-for="(item, index) of filteredActors" :key="item.id"
            v-bind:class="{ 'active' : isSelectedStaff(index) }" v-on:click="selectedStaff = index"
            @click="setStaff(item)">{{item.name}} {{item.surname}}, ur.
            {{item.dateOfBirth | showDate}}r.
          </b-list-group-item>
        </b-list-group>
      </div>
      <b-button type="submit" variant="primary">Zapisz</b-button>
    </b-form>
  </div>
</template>

<script>
  import {adminService} from "../../services/admin.service";

  export default {
    name: "ActorForm",
    props: {
      propMovie: {
        type: Object,
        id: null,
        title: '',
        duration: '',
        genre: '',
        urlImageLink: '',
        originalLanguage: '',
        sinceDate: '',
        description: '',
      }
    },
    data() {
      return {
        filter: '',
        selectedStaff: 0,
        selectedMovie: 0,
        movie: {},
        staff: [],
        form: {
          id: {
            id_staff: [],
            id_movie: [],
          }
        },
      }
    },
    created() {
      this.setMovie(this.propMovie);
      const promises = [
        this.$http.get(`/api/user/getStaff`),
      ];
      Promise.all(promises)
        .then(response => {
          return response.map(entry => entry.data);
        }).then(data => {
        this.staff = data[0].data;
      });
    },
    methods: {
      onSubmit() {
        delete this.propMovie._showDetails;
        this.form.id.id_movie = this.propMovie;
        adminService.addOrUpdateActor(this.form);
        this.$emit('actor-director-added');
      },
      setMovie(value) {
        this.form.id.id_movie = value;
      },
      setStaff(value) {
        this.form.id.id_staff = value;
      },
      isSelectedMovie(i) {
        return i === this.selectedMovie
      },
      isSelectedStaff(i) {
        return i === this.selectedStaff
      }
    },
    computed: {
      filteredActors() {
        return this.staff.filter((actor) => {
          let actorDetails = `${actor.name} ${actor.surname}`;
          return actorDetails.toLowerCase().match(this.filter.toLowerCase());
        });
      }
    },
    filters: {
      showDate: function (value) {
        if (!value) return '';
        return new Date(value).toLocaleDateString("pl-PL", {
          day: '2-digit',
          month: '2-digit',
          year: 'numeric'
        });
      },
    },
  }
</script>

<style lang="scss" scoped>
  @import "../../scss/colors";

  .actorPanelMainWrapper {
    margin: 20px auto;
  }

  .sizeOfBList {
    max-height: 250px;
    margin-bottom: 10px;
    overflow: auto;

    .list-group-item.active {
      background-color: $primary-light;
      border-color: $primary-light;
    }
  }

  .description {
    font-weight: lighter;
    font-size: 0.7rem;
    margin: 0;
  }
</style>
