<template>
  <div id="movie-panel-main-wrapper" class="moviePanelMainWrapper">
    <h3 v-if="!isModal">Dodaj</h3>
    <b-form v-if="form != undefined " @submit.prevent="onSubmit">
      <b-form-group id="idFieldset"
                    label-for="idInput">
        <b-form-input id="idInput"
                      type="text"
                      :disabled="true"
                      v-model="form.id">
        </b-form-input>
      </b-form-group>

      <b-form-group
        id="titleFieldset"
        label="Podaj tytuł"
        label-for="titleInput"
        :invalid-feedback="titleInvalidFeedback"
        :state="titleState">
        <b-form-input id="titleInput" :state="titleState" v-model.trim="form.title" required></b-form-input>
      </b-form-group>

      <b-form-group
        id="durationFieldset"
        label="Podaj długość trwania filmu"
        label-for="durationInput"
        :invalid-feedback="durationInvalidFeedback"
        :state="durationState">
        <b-form-input type="number" id="durationInput" :state="durationState" v-model.trim="form.duration"
                      required></b-form-input>
      </b-form-group>

      <b-form-group
        id="genreFieldset"
        label="Podaj gatunek"
        label-for="genreInput"
        :invalid-feedback="genreInvalidFeedback"
        :state="genreState">
        <b-form-input id="genreInput" :state="genreState" v-model.trim="form.genre" required></b-form-input>
      </b-form-group>

      <b-form-group
        id="urlImageLinkFieldset"
        label="Podaj link do plakatu"
        label-for="urlImageLinkInput"
        :invalid-feedback="urlImageLinkInvalidFeedback"
        :state="urlImageLinkState">
        <b-form-input id="urlImageLinkInput" :state="urlImageLinkState" v-model.trim="form.urlImageLink"
                      required></b-form-input>
      </b-form-group>

      <b-form-group
        id="originalLanguageFieldset"
        label="Podaj oryginalny język filmu"
        label-for="originalLanguageInput"
        :invalid-feedback="originalLanguageInvalidFeedback"
        :state="originalLanguageState">
        <b-form-input id="originalLanguageInput" :state="originalLanguageState" v-model.trim="form.originalLanguage"
                      required></b-form-input>
      </b-form-group>

      <b-form-group
        id="sinceDateFieldset"
        label="Podaj od kiedy film będzie dostępny"
        label-for="sinceDateInput">
        <b-form-input type="date" id="sinceDateInput" v-model.trim="form.sinceDate" required></b-form-input>
      </b-form-group>

      <b-form-group
        id="descriptionFieldset"
        label="Podaj opis"
        label-for="descriptionInput"
        :invalid-feedback="descriptionInvalidFeedback"
        :state="descriptionState">
        <textarea id="descriptionInput" class="form-control" rows="5" :state="descriptionState"
                  v-model.trim="form.description" required></textarea>
      </b-form-group>

      <b-button type="submit" variant="primary">Zapisz</b-button>
    </b-form>
  </div>
</template>

<script>
  import {adminService} from "../../services/admin.service";

  export default {
    name: "MovieForm",
    props: {
      form: {
        type: Object,
        id: null,
        title: '',
        duration: '',
        genre: '',
        urlImageLink: '',
        originalLanguage: '',
        sinceDate: '',
        description: '',
      },
      isModal: {
        type: Boolean,
        default: false,
      }
    },
    methods: {
      onSubmit() {
        adminService.addOrUpdateMovie(this.form);
      },
    },
    computed: {
      titleState() {
        return this.form.title.length >= 1 && this.form.title.length <= 60;
      },
      titleInvalidFeedback() {
        if (this.form.title.length >= 1 && this.form.title.length <= 60) {
          return '';
        } else if (this.form.title.length > 0 || this.form.title.length > 60) {
          return 'Tytuł musi składać się z 1 do 60 znaków.';
        } else {
          return 'Tytuł musi składać się z 1 do 60 znaków.';
        }
      },
      durationState() {
        return this.form.duration.length >= 1 && this.form.duration.length <= 3;
      },
      durationInvalidFeedback() {
        if (this.form.duration.length >= 1 && this.form.duration.length <= 3) {
          return '';
        } else if (this.form.duration.length > 0 || this.form.duration.length > 3) {
          return 'Czas trwania musi składać się z 1 do 3 znaków.';
        } else {
          return 'Czas trwania musi składać się z 1 do 3 znaków.';
        }
      },
      genreState() {
        return this.form.genre.length >= 1 && this.form.genre.length <= 20;
      },
      genreInvalidFeedback() {
        if (this.form.genre.length >= 1 && this.form.genre.length <= 20) {
          return '';
        } else if (this.form.genre.length > 0 || this.form.genre.length > 20) {
          return 'Gatunek musi składać się z 1 do 20 znaków.';
        } else {
          return 'Gatunek musi składać się z 1 do 20 znaków.';
        }
      },
      urlImageLinkState() {
        return this.form.urlImageLink.length >= 1 && this.form.urlImageLink.length <= 500;
      },
      urlImageLinkInvalidFeedback() {
        if (this.form.urlImageLink.length >= 1 && this.form.urlImageLink.length <= 500) {
          return '';
        } else if (this.form.urlImageLink.length > 0 || this.form.urlImageLink.length > 500) {
          return 'Plakat musi składać się z 1 do 500 znaków.';
        } else {
          return 'Plakat musi składać się z 1 do 500 znaków.';
        }
      },
      originalLanguageState() {
        return this.form.originalLanguage.length >= 1 && this.form.originalLanguage.length <= 30;
      },
      originalLanguageInvalidFeedback() {
        if (this.form.originalLanguage.length >= 1 && this.form.originalLanguage.length <= 30) {
          return '';
        } else if (this.form.originalLanguage.length > 0 || this.form.originalLanguage.length > 30) {
          return 'Język oryginalny musi składać się z 1 do 30 znaków.';
        } else {
          return 'Język oryginalny musi składać się z 1 do 30 znaków.';
        }
      },
      descriptionState() {
        return this.form.description.length >= 1 && this.form.description.length <= 500;
      },
      descriptionInvalidFeedback() {
        if (this.form.description.length >= 1 && this.form.description.length <= 500) {
          return '';
        } else if (this.form.description.length > 0 || this.form.description.length > 500) {
          return 'Opis musi składać się z 1 do 500 znaków.';
        } else {
          return 'Opis musi składać się z 1 do 500 znaków.';
        }
      },
    },

  }
</script>

<style lang="scss" scoped>
  .moviePanelMainWrapper {
    margin: 20px auto;
  }

  form {
    margin-top: 20px;
  }
</style>
