<template>
  <div class="wrapper">
    <div v-if="isReady === true" :style="styleRoomBorder">
      <div class="screen">EKRAN</div>
      <div v-for="item in seats" :class="[item.class]">
        <div class="seatNumber">{{item.row}}{{item.seat_number}}</div>
      </div>
    </div>
  </div>
</template>

<script>
  export default {
    name: "RoomPreview",
    props: {
      roomId: null,
    },
    data() {
      return {
        isReady: false,
        dbArmchairs: {},
        styleRoomBorder: {
          border: 'solid 1px rgba(0, 0, 0, .2)',
          cursor: 'crosshair',
          paddingLeft: '20px',
          paddingRight: '20px',
        },
        seats: {},
      }
    },
    created() {
      if (this.roomId != null) {
        this.prepareSeats();
      }
    },
    methods: {
      prepareSeats() {

        let row = 9;
        let column = 20;
        let seatClasses = [];
        for (let i = 0; i < row; i++) {
          for (let j = 0; j < column; j++) {
            if (j === 0) {
              seatClasses.push({
                class: 'blank rowStart',
                coordinates_X: j,
                coordinates_Y: i,
                row: null,
              });
            } else {
              seatClasses.push({
                class: 'blank',
                coordinates_X: j,
                coordinates_Y: i,
                row: null,
              });
            }
          }
        }
        this.$http.get(`/api/user/getArmchairByRoomId`, {params: {roomId: this.roomId}})
          .then(result => {
            this.dbArmchairs = result.data.data;
          }).then(() => {
          seatClasses.forEach((item) => {
            this.dbArmchairs.forEach((dbItem, index) => {
              if (item.coordinates_X == dbItem.coordinates_X && item.coordinates_Y == dbItem.coordinates_Y) {
                if (dbItem.armchair_type === 'zwykły') {
                  item.armchair_type = dbItem.armchair_type;
                  item.class = item.class.concat(' available');
                  item.seat_number = dbItem.seat_number;
                  item.row = dbItem.row;
                  this.dbArmchairs.splice(index, 1);
                } else if (dbItem.armchair_type === 'VIP') {
                  item.armchair_type = 'VIP';
                  item.class = item.class.concat(' vip');
                  item.seat_number = dbItem.seat_number;
                  item.row = dbItem.row;
                  this.dbArmchairs.splice(index, 1);
                } else if (dbItem.armchair_type === 'specjalne') {
                  item.armchair_type = 'specjalne';
                  item.class = item.class.concat(' disabled-seat');
                  item.seat_number = dbItem.seat_number;
                  item.row = dbItem.row;
                  this.dbArmchairs.splice(index, 1);
                }
              }
            });
          });
          this.seats = seatClasses;
          setTimeout(() => {
            this.isReady = true;
          }, 500);
        });
      },
    },
  }
</script>

<style lang="scss" scoped>
  @import "../../scss/colors";

  .wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-top: 20px;
  }

  .seat {
    width: 20px;
    height: 20px;
    margin: 2px;
    float: left;

    @media (max-width: 570px) {
      width: 10px;
      height: 10px;
      font-size: 0.5em;
    }
  }

  .blank {
    width: 20px;
    height: 20px;
    margin: 2px;
    border: solid 1px rgba(0, 0, 0, .5);
    float: left;

    @media (max-width: 570px) {
      width: 10px;
      height: 10px;
    }
  }

  .available {
    background-color: #96c131;
  }

  .vip {
    background-color: #9965b5;
  }

  .disabled-seat {
    background-image: linear-gradient(45deg, #96c131 25%, #6a8c1c 25%, #6a8c1c 50%, #96c131 50%, #96c131 75%, #6a8c1c 75%, #6a8c1c 100%);
    background-size: 14.14px 14.14px;
  }

  .rowStart {
    clear: both;
  }

  .seatNumber {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    top: -4%;
    left: 2%;
    width: 100%;
    height: 100%;
    font-size: 0.70em;
    font-weight: bold;
    @media (max-width: 570px) {
      font-size: 0.4em;
    }
  }

  .screen {
    display: flex;
    justify-content: center;
    margin: 10px 25px 30px;
    background-color: rgba(57, 130, 168, 0.36);
  }
</style>
