<template>
  <div class="wrapper">
    <h2>DODAJ FOTELE</h2>
    <b-row>
      <b-col>
        <p>Wybierz kino:</p>
        <b-input-group class="filter" prepend="Szukaj:">
          <b-form-input id="input-town" v-model="filter" placeholder="Podaj miejscowość"/>
        </b-input-group>
        <p class="description">Kliknij w element listy aby wybrać kino...</p>
        <div class="sizeOfBList">
          <b-list-group>
            <b-list-group-item v-for="(item, index) of filteredCinemas" :key="cinema.id"
                               v-bind:class="{ 'active' : isSelectedCinema(index) }" v-on:click="selectedCinema = index"
                               @click="setCinema(item)">{{item.town}}, ul. {{item.street}} {{item.building_number}}
            </b-list-group-item>
          </b-list-group>
        </div>
      </b-col>
      <b-col>
        <p>Wybierz salę:</p>
        <b-alert show variant="warning" dismissible>
          Kliknij dwukrotnie w rekord, aby wybrać salę.
        </b-alert>
        <b-table
          @row-dblclicked="selectRow"
          :fields="fields" hover bordered small sive
          :items="rooms">
        </b-table>
      </b-col>
    </b-row>

    <div v-if="isReady === true">
      <b-form-group>
        <label for="radios1">Wybierz typ fotela:</label>
        <b-form-radio-group id="radios1" v-model="selectedSeatType" :options="options" name="radioOptions">
        </b-form-radio-group>
        <b-form-select @change="activate" v-model="selectedRow" :options="rowLabel" class="mb-3"/>
        <button type="button" class="btn btn-primary" @click="generateSeatNumbers(seats)">Numeruj miejsca</button>
        <b-button :disabled="seatsCount === 0" type="button" class="btn btn-danger" @click="postRoomSeats">DODAJ FOTELE
          DO BAZY DANYCH
        </b-button>
      </b-form-group>
    </div>

    <h5 v-if="form.cinema">WYBRANE KINO: {{form.cinema.town}}, {{form.cinema.street}}
      {{form.cinema.building_number}}</h5>
    <h5 v-if="form.roomNumber">WYBRANE SALA: {{form.roomNumber}}</h5>
    <h5 v-if="form.roomNumber">Ilość foteli: {{seatsCount}}</h5>

    <div v-if="isReady === true" :style="styleRoomBorder">
      <div class="screen">EKRAN</div>
      <div v-for="item in seats" @click="createSeat(item)" :class="[item.class]">
        <div class="seatNumber">{{item.row}}{{item.seat_number}}</div>
      </div>
    </div>

    <b-container>
      <b-row class="seatDescription justify-content-between">
        <b-col md="4" lg="4">
          <div>
            <div class="seat available" id="available"></div>
            <div class="label">Fotel zwykły</div>
          </div>
        </b-col>
        <b-col md="4" lg="4">
          <div>
            <div class="seat vip" id="vip"></div>
            <div class="label">Fotel VIP</div>
          </div>
        </b-col>

        <b-col md="6" lg="4">
          <div>
            <div class="seat disabled-seat" id="disabled"></div>
            <div class="label">Fotel dla niepełnosprawnych</div>
          </div>
        </b-col>
      </b-row>
    </b-container>
  </div>
</template>

<script>
  import HalfCircleSpinner from "epic-spinners/src/components/lib/HalfCircleSpinner";
  import {adminService} from "../../services/admin.service";

  export default {
    name: "RoomAddArmchairs",
    components: {HalfCircleSpinner},
    data: function () {
      return {
        filter: '',
        totalRows: 0,
        perPage: 2,
        currentPage: 1,
        fields: [
          {
            key: 'id',
            label: 'ID',
            sortable: true
          },
          {
            key: 'roomNumber',
            label: 'Numer sali',
            sortable: true
          },
        ],
        cinema: [],
        selectedCinema: 0,
        rooms: [],
        form: {
          room: {},
        },
        roomId: null,
        styleRoomBorder: {
          border: 'solid 1px rgba(0, 0, 0, .2)',
          cursor: 'crosshair',
          paddingLeft: '20px',
          paddingRight: '20px',
        },
        rowLabel: [
          {value: null, text: '-- Wybierz rząd --'},
          {value: 'A', text: "A"},
          {value: 'B', text: "B"},
          {value: 'C', text: "C"},
          {value: 'D', text: "D"},
          {value: 'E', text: "E"},
          {value: 'F', text: "F"},
          {value: 'G', text: "G"},
          {value: 'H', text: "H"},
          {value: 'I', text: "I"},
          {value: 'J', text: "J"},
          {value: 'K', text: "K"},
          {value: 'L', text: "L"},
          {value: 'M', text: "M"},
          {value: 'N', text: "N"},
          {value: 'O', text: "O"},
          {value: 'P', text: "P"},
          {value: 'Q', text: "Q"},
          {value: 'R', text: "R"},
          {value: 'S', text: "S"},
          {value: 'T', text: "T"},
          {value: 'U', text: "U"},
          {value: 'V', text: "V"},
          {value: 'W', text: "W"},
          {value: 'X', text: "X"},
          {value: 'Y', text: "Y"},
          {value: 'Z', text: "Z"}],
        seatsCount: 0,
        seats: [],
        selectedRow: null,
        selectedSeatType: 'available',
        options: [
          {text: 'Fotel ZWYKŁY', value: 'available'},
          {text: 'Fotel VIP', value: 'vip'},
          {text: 'Fotel DLA NIEPEŁNOSPRAWNYCH', value: 'disabled-seat'}
        ],
        isReady: false,
        pairRowY: {
          y: null,
          row: null,
        }
      };
    },
    created() {
      this.prepareSeats();
      const promises = [
        this.$http.get(`/api/user/getCinema`),
      ];
      Promise.all(promises)
        .then(response => {
          return response.map(entry => entry.data);
        }).then(data => {
        setTimeout(() => {
          this.cinema = data[0].data;
        }, 500);
      });

    },
    methods: {
      setCinema(value) {
        this.form.cinema = value;
        this.$http.get(`/api/user/getRoom`)
          .then(response => {
            this.rooms = response.data.data.filter(element => {
              if (element != null && element.cinema.id == this.form.cinema.id) {
                return true;
              } else return false;
            })
          });
      },
      isSelectedCinema(i) {
        return i === this.selectedCinema
      },
      selectRow(item, index, event) {
        this.form = item;

      },
      activate(row) {
        this.pairRowY.row = row;
        this.pairRowY.y = null;
      },
      prepareSeats() {
        let row = 9;
        let column = 20;
        let seatClasses = [];
        for (let i = 0; i < row; i++) {
          for (let j = 0; j < column; j++) {
            if (j === 0) {
              seatClasses.push({
                class: 'blank rowStart',
                coordinates_X: j,
                coordinates_Y: i,
                row: null,
                isChosen: false
              });
            } else {
              seatClasses.push({
                class: 'blank',
                coordinates_X: j,
                coordinates_Y: i,
                row: null,
                isChosen: false
              });
            }
          }
        }
        this.seats = seatClasses;
        setTimeout(() => {
          this.isReady = true;
        }, 1000);
      },
      createSeat(item) {
        if (item.isChosen) {
          for (let i = 0; i < this.options.length; i++) {
            if (item.class.indexOf(this.options[i].value) !== -1) {
              item.class = item.class.replace(this.options[i].value, '').trim();
            }
          }
          item.isChosen = !item.isChosen;
          item.armchait_type = null;
          item.row = null;
          item.seat_number = null;
          this.seatsCount--;
        } else {
          if (this.selectedRow != null) {
            if (this.checkCorrectRow(item.coordinates_Y, this.selectedRow)) {
              item.class = item.class.concat(` ${this.selectedSeatType}`);
              item.isChosen = !item.isChosen;
              switch (this.selectedSeatType) {
                case 'available':
                  item.armchair_type = 'zwykły';
                  break;
                case 'vip':
                  item.armchair_type = 'VIP';
                  break;
                case 'disabled-seat':
                  item.armchair_type = 'specjalne';
                  break;
                default:
                  item.armchair_typ = null;
                  break
              }
              item.row = this.selectedRow;
              this.seatsCount++;
            }
          }
        }
      },
      checkCorrectRow(y, row) {
        let seatsInRow = this.seats.filter(obj => {
          return obj.coordinates_Y === y;
        });
        if (seatsInRow.every(x => x.row === null) && this.pairRowY.row != null && this.pairRowY.y === null) {
          this.pairRowY.y = y;
          return true;
        } else if (this.pairRowY.row === row && this.pairRowY.y === y) {
          return true;
        } else {
          return seatsInRow.some(x => x.row === row);
        }
      },
      generateSeatNumbers(seatArray) {
        let seatNumber = 1;
        let seatY = 0;
        seatArray.forEach(seat => {
          if (seat.coordinates_Y > seatY) {
            seatNumber = 1;
            seatY++;
          }
          if (seat.row != null) {
            seat.seat_number = seatNumber++;
          }
        });
        this.$forceUpdate();
      },
      postRoomSeats() {
        if (confirm('Wprowadzić fotele do bazy danych?')) {
          let chosenSeats = JSON.parse(JSON.stringify(this.seats));
          chosenSeats = chosenSeats.filter(seat => {
            return seat.row != null;
          }).map(seat => {
            seat.room = this.form;
            delete seat.class;
            delete seat.isChosen;
            return seat;
          });
          this.generateSeatNumbers(chosenSeats);
          adminService.addOrUpdateArmchair(chosenSeats)
        }
      }
    },
    computed: {
      filteredCinemas() {
        return this.cinema.filter((cinema) => {
          return cinema.town.toLowerCase().match(this.filter.toLowerCase());
        });
      }
    }
  }

</script>

<style lang="scss" scoped>
  @import "../../scss/colors";

  .wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-top: 20px;
  }

  .roomPanelMainWrapper {
    width: 500px;
    margin: 50px auto;

    @media (max-width: 768px) {
      width: 80%;
    }
  }

  .sizeOfBList {
    max-height: 200px;
    margin-bottom: 10px;
    overflow: auto;

    .list-group-item.active {
      background-color: $primary-light;
      border-color: $primary-light;
    }
  }

  .spinner {
    margin-top: 20px;
    margin-bottom: 35px;
  }

  .seat {
    width: 20px;
    height: 20px;
    margin: 2px;
    float: left;

    @media (max-width: 570px) {
      width: 10px;
      height: 10px;
      font-size: 0.5em;
    }
  }

  .blank {
    width: 20px;
    height: 20px;
    margin: 2px;
    border: solid 1px rgba(0, 0, 0, .5);
    float: left;

    @media (max-width: 570px) {
      width: 10px;
      height: 10px;
    }
  }

  .available {
    background-color: #96c131;
  }

  .vip {
    background-color: #9965b5;
  }

  .disabled-seat {
    background-image: linear-gradient(45deg, #96c131 25%, #6a8c1c 25%, #6a8c1c 50%, #96c131 50%, #96c131 75%, #6a8c1c 75%, #6a8c1c 100%);
    background-size: 14.14px 14.14px;
  }

  .available:hover, .vip:hover, .disabled-seat:hover {
    filter: brightness(120%) !important;;
  }

  .rowStart {
    clear: both;
  }

  .seatNumber {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    top: -4%;
    left: 2%;
    width: 100%;
    height: 100%;
    font-size: 0.70em;
    font-weight: bold;
    @media (max-width: 570px) {
      font-size: 0.4em;
    }
  }

  .screen {
    display: flex;
    justify-content: center;
    margin: 10px 25px 30px;
    background-color: rgba(57, 130, 168, 0.36);
  }

  .seatDescription {
    margin: 10px 20px 10px;
    padding: 10px;
    border: solid 1px rgba(0, 0, 0, .2);
  }

  .label {
    padding-left: 24px;
    margin-left: auto;
    margin-bottom: 0px;
    width: 100%;
  }

  div.col {
    margin: 10px 10px 10px 20px;
    width: 100%;
  }

  div.table-responsive {
    width: 20%;
  }

  .row {
    width: 100%;
  }

  .description {
    font-weight: lighter;
    font-size: 0.7rem;
    margin: 0;
  }
</style>
