<template>
  <div id="room-panel-main-wrapper" class="roomPanelMainWrapper">
    <h3>Dodaj</h3>
    <b-form @submit.prevent="onSubmit">
      <b-form-group id="idFieldset"
                    label-for="idInput">
        <b-form-input id="idInput"
                      type="text"
                      :disabled="true"
                      v-model="form.id">
        </b-form-input>
      </b-form-group>

      <b-form-group
        id="roomNumberFieldset"
        label="Podaj numer sali"
        label-for="roomNumberInput"
        :invalid-feedback="roomNumberInvalidFeedback"
        :state="roomNumberState">
        <b-form-input type="number" id="roonNumberInput" :state="roomNumberState" v-model.trim="form.roomNumber"
                      required></b-form-input>
      </b-form-group>

      <p>Wybierz kino:</p>
      <b-input-group class="filter" prepend="Szukaj:">
        <b-form-input id="input-town" v-model="filter" placeholder="Podaj miejscowość"/>
      </b-input-group>
      <p class="description">Kliknij w element listy aby wybrać kino...</p>
      <div class="sizeOfBList">
        <b-list-group>
          <b-list-group-item v-for="(item, index) of filteredCinemas" :key="cinema.id"
                             v-bind:class="{ 'active' : isSelectedCinema(index) }" v-on:click="selectedCinema = index"
                             @click="setCinema(item)">{{item.town}}, ul. {{item.street}} {{item.building_number}}
          </b-list-group-item>
        </b-list-group>
      </div>

      <b-button type="submit" variant="primary">Zapisz</b-button>
    </b-form>
  </div>
</template>

<script>
  import {adminService} from "../../services/admin.service";

  export default {
    name: "RoomForm",
    data() {
      return {
        filter: '',
        selectedCinema: 0,
        cinema: [],
        rooms: [],
        form: {
          id: null,
          roomNumber: '',
          cinema: {},
        }
      }
    },
    created: function () {
      const promises = [
        this.$http.get(`/api/user/getCinema`),
      ];
      Promise.all(promises)
        .then(response => {
          return response.map(entry => entry.data);
        }).then(data => {
        this.cinema = data[0].data;
      });
    },
    methods: {
      onSubmit() {
        adminService.addOrUpdateRoom(this.form);
      },
      setCinema(value) {
        this.form.cinema = value;
        this.$http.get(`/api/user/getRoom`)
          .then(response => {
            this.rooms = response.data.data.filter(element => {
              if (element != null && element.cinema.id == this.form.cinema.id) {
                return true;
              } else return false;
            })
          })
      },
      isSelectedCinema(i) {
        return i === this.selectedCinema
      },
      selectRow(item, index, event) {
        this.form = item;

      }
    },
    computed: {
      roomNumberState() {
        return this.form.roomNumber.length > 0 && this.form.roomNumber.length <= 2;
      },
      roomNumberInvalidFeedback() {
        if (this.form.roomNumber.length >= 1 && this.form.roomNumber.length <= 2) {
          return '';
        } else if (this.form.roomNumber.length > 0 || this.form.roomNumber.length > 2) {
          return 'Numer sali musi składać się z 1 do 2 znaków.';
        } else {
          return 'Numer sali musi składać się z 1 do 2 znaków.';
        }
      },
      filteredCinemas() {
        return this.cinema.filter((cinema) => {
          return cinema.town.toLowerCase().match(this.filter.toLowerCase());
        });
      }
    },

  }
</script>

<style lang="scss" scoped>
  @import "../../scss/colors";

  .roomPanelMainWrapper {
    margin: 20px auto;

    @media (max-width: 768px) {
      width: 85%;
      margin-left: 0;
      margin-right: 0;
    }
  }

  form {
    margin-top: 20px;
  }

  .sizeOfBList {
    max-height: 100px;
    margin-bottom: 10px;
    overflow: auto;

    .list-group-item.active {
      background-color: $primary-light;
      border-color: $primary-light;
    }
  }

  .filter {
    margin-bottom: 10px;
  }

  .description {
    font-weight: lighter;
    font-size: 0.7rem;
    margin: 0;
  }
</style>
