<template>
  <div id="show-panel-main-wrapper" class="showPanelMainWrapper">
    <h3>Dodaj</h3>
    <b-form @submit.prevent="onSubmit">
      <b-form-group id="idFieldset"
                    label-for="idInput">
        <b-form-input id="idInput"
                      type="text"
                      v-model="form.id"
                      :disabled="true">
        </b-form-input>
      </b-form-group>
      <b-form-group id="dateFieldset"
                    label="Wpisz datę:"
                    label-for="dateInput">
        <b-form-input id="dateInput"
                      type="date"
                      v-model="date"
                      required
                      placeholder="Wpisz date">
        </b-form-input>
      </b-form-group>

      <b-form-group id="timeFieldset"
                    label="Wpisz godzinę:"
                    label-for="timeInput">
        <b-form-input id="timeInput"
                      type="time"
                      v-model="time"
                      required
                      placeholder="Wpisz godzinę">
        </b-form-input>
      </b-form-group>

      <p>Wybierz kino:</p>
      <b-input-group class="filter" prepend="Szukaj:">
        <b-form-input id="input-town" v-model="filterCinema" placeholder="Podaj miejscowość"/>
      </b-input-group>
      <p class="description">Kliknij w element listy aby wybrać kino...</p>
      <div class="sizeOfBList">
        <b-list-group>
          <b-list-group-item v-for="(item, index) of filteredCinemas" :key="item.id"
                             v-bind:class="{ 'active' : isSelectedCinema(index) }" v-on:click="selectedCinema = index"
                             @click="setCinema(item)">{{item.town}}, {{item.street}} {{item.building_number}}
          </b-list-group-item>
        </b-list-group>
      </div>

      <p>Wybierz salę:</p>
      <b-input-group class="filter" prepend="Szukaj:">
        <b-form-input id="input-room-number" v-model="filterRoom" placeholder="Podaj numer sali"/>
      </b-input-group>
      <p class="description">Kliknij w element listy aby wybrać salę...</p>
      <div class="sizeOfBList">
        <b-list-group>
          <b-list-group-item v-for="(item, index) of filteredRooms" :key="item.id"
                             v-bind:class="{ 'active' : isSelectedRoom(index) }" v-on:click="selectedRoom = index"
                             @click="setRoom(item)">Numer sali: {{item.roomNumber}}
            <b-btn @click.stop="showModal(item.id)" variant="warning" size="sm">Podgląd sali</b-btn>
          </b-list-group-item>
        </b-list-group>
      </div>

      <b-modal size="lg" lazy ref="myModalRef" hide-footer title="PODGLĄD SALI">
        <room-preview :room-id="modalRoomId"/>
      </b-modal>

      <p>Wybierz film:</p>
      <b-input-group class="filter" prepend="Szukaj:">
        <b-form-input id="input-movie" v-model="filterMovie" placeholder="Podaj tytuł filmu"/>
      </b-input-group>
      <p class="description">Kliknij w element listy aby wybrać film...</p>
      <div class="sizeOfBList">
        <b-list-group>
          <b-list-group-item v-for="(item, index) of filteredMovies" :key="item.id"
                             v-bind:class="{ 'active' : isSelectedMovie(index) }" v-on:click="selectedMovie = index"
                             @click="setMovie(item)">{{item.title}}
          </b-list-group-item>
        </b-list-group>
      </div>

      <p>Wybierz typ projekcję:</p>
      <b-form-select id="projectionInput"
                     :options="projection"
                     required
                     v-model="form.projection">
      </b-form-select>

      <p>Wybierz wersję przekazu:</p>
      <b-form-select id="versionInput"
                     :options="version"
                     required
                     v-model="form.version">
      </b-form-select>

      <b-button class="button-position" type="submit" variant="primary">Zapisz</b-button>
    </b-form>
  </div>
</template>

<script>
  import {adminService} from "../../services/admin.service";
  import RoomPreview from "./RoomPreview";

  export default {
    name: "ShowForm",
    components: {RoomPreview},
    data() {
      return {
        filterCinema: '',
        filterRoom: '',
        filterMovie: '',
        selectedRoom: 0,
        selectedMovie: 0,
        selectedCinema: 0,
        projection: {},
        movies: [],
        rooms: [],
        cinemas: [],
        selectedCinemaObject: {},
        version: [],
        date: '',
        time: '',
        form: {
          id: null,
          date: '',
          room: {},
          movie: {},
          projection: '',
          version: '',
        },
        modalRoomId: null,
      }
    },
    created() {
      const promises = [
        this.$http.get(`/api/user/getProjection`),
        this.$http.get(`/api/user/getVersion`),
        this.$http.get(`/api/user/getMovie`),
        this.$http.get(`/api/user/getRoom`),
        this.$http.get(`/api/user/getCinema`),
      ];
      Promise.all(promises)
        .then(response => {
          return response.map(entry => entry.data);
        }).then(data => {
        setTimeout(() => {
          let list = [];
          data[0].data.forEach(function (entry) {
            list.push(entry.type);
          });
          this.projection = list;
          list = [];
          data[1].data.forEach(function (entry) {
            list.push(entry.type);
          });
          this.version = list;
          this.movies = data[2].data;
          this.rooms = data[3].data;
          this.cinemas = data[4].data;
        }, 500);
      });
    },
    methods: {
      onSubmit() {
        this.form.date = new Date(Date.parse(`${this.date} ${this.time}`));
        adminService.addOrUpdateShow(this.form);
      },
      setCinema(value) {
        this.selectedCinemaObject = value;
      },
      setRoom(value) {
        this.form.room = value;
      },
      setMovie(value) {
        this.form.movie = value;
      },
      isSelectedCinema(i) {
        return i === this.selectedCinema;
      },
      isSelectedMovie(i) {
        return i === this.selectedMovie;
      },
      isSelectedRoom(i) {
        return i === this.selectedRoom;
      },
      showModal(value) {
        this.modalRoomId = value;
        setTimeout(() => {
          this.$refs.myModalRef.show()
        }, 500);
      },
      hideModal() {
        this.$refs.myModalRef.hide()
      }
    },
    computed: {
      filteredCinemas() {
        return this.cinemas.filter((cinema) => {
          return cinema.town.toLowerCase().match(this.filterCinema.toLowerCase());
        });
      },
      filteredMovies() {
        return this.movies.filter((movie) => {
          return movie.title.toLowerCase().match(this.filterMovie.toLowerCase());
        });
      },
      filteredRooms() {
        let rooms = this.rooms.filter((room) => {
          return room.roomNumber.match(this.filterRoom) && room.cinema.id === this.selectedCinemaObject.id;
        });
        return rooms;
      },
    }

  }
</script>

<style lang="scss" scoped>
  @import "../../scss/colors";

  .showPanelMainWrapper {
    margin: 20px auto;
  }

  .sizeOfBList {
    max-height: 200px;
    margin-bottom: 10px;
    overflow: auto;

    .list-group-item.active {
      background-color: $primary-light;
      border-color: $primary-light;
    }
  }

  .description {
    font-weight: lighter;
    font-size: 0.7rem;
    margin: 0;
  }

  .button-position {
    margin-top: 20px;
  }

</style>
