<template>
  <div id="staff-panel-main-wrapper" class="staffPanelMainWrapper">
    <h3>Dodaj</h3>
    <b-form @submit.prevent="onSubmit">
      <b-form-group id="idFieldset"
                    label-for="idInput">
        <b-form-input id="idInput"
                      type="text"
                      :disabled="true"
                      v-model="form.id">
        </b-form-input>
      </b-form-group>

      <b-form-group
        id="nameFieldset"
        label="Podaj imię"
        label-for="nameInput"
        :invalid-feedback="nameInvalidFeedback"
        :state="nameState">
        <b-form-input id="nameInput" :state="nameState" v-model.trim="form.name" required></b-form-input>
      </b-form-group>

      <b-form-group
        id="surnameFieldset"
        label="Podaj nazwisko"
        label-for="surnameInput"
        :invalid-feedback="surnameInvalidFeedback"
        :state="surnameState">
        <b-form-input id="surnameInput" :state="surnameState" v-model.trim="form.surname" required></b-form-input>
      </b-form-group>

      <b-form-group id="dateFieldset"
                    label="Data urodzenia:"
                    label-for="dateInput">
        <b-form-input id="dateInput"
                      type="date"
                      v-model="form.dateOfBirth"
                      required>
        </b-form-input>
      </b-form-group>

      <b-button type="submit" variant="primary">Zapisz</b-button>
    </b-form>
  </div>
</template>

<script>
  import {adminService} from "../../services/admin.service";

  export default {
    name: "StaffForm",

    data() {
      return {
        form: {
          id: null,
          name: '',
          surname: '',
          dateOfBirth: '',
        },
      }
    },
    computed: {
      nameState() {
        return this.form.name.length >= 1 && this.form.name.length <= 30;
      },
      nameInvalidFeedback() {
        if (this.form.name.length >= 1 && this.form.name.length <= 30) {
          return '';
        } else if (this.form.name.length > 0 || this.form.name.length > 30) {
          return 'Imię musi składać się z 1 do 30 znaków.';
        } else {
          return 'Imię musi składać się z 1 do 30 znaków.';
        }
      },
      surnameState() {
        return this.form.surname.length >= 1 && this.form.surname.length <= 30;
      },
      surnameInvalidFeedback() {
        if (this.form.surname.length >= 1 && this.form.surname.length <= 30) {
          return '';
        } else if (this.form.surname.length > 0 || this.form.surname.length > 30) {
          return 'Nazwisko musi składać się z 1 do 30 znaków.';
        } else {
          return 'Nazwisko musi składać się z 1 do 30 znaków.';
        }
      },
    },
    methods: {
      onSubmit() {
        adminService.addOrUpdateStaff(this.form);
      },
    }
  }
</script>

<style lang="scss" scoped>
  .staffPanelMainWrapper {
    margin: 20px auto;
  }
</style>
