<template>
  <div id="ticket-type-panel-main-wrapper" class="ticketTypePanelMainWrapper">
    <b-form @submit.prevent="onSubmit">
      <h3>Dodaj</h3>
      <b-alert show variant="warning" dismissible>
        Kliknij dwukrotnie w wybrany rekord, aby edytować.
      </b-alert>
      <b-form-group id="idFieldset"
                    label-for="idInput">
        <b-form-input id="idInput"
                      type="text"
                      :disabled="true"
                      v-model="form.id">
        </b-form-input>
      </b-form-group>

      <b-form-group
        id="ticketFieldset"
        label="Podaj typ biletu"
        label-for="ticketInput"
        :invalid-feedback="ticketInvalidFeedback"
        :state="ticketState">
        <b-form-input id="ticketInput" :state="ticketState" v-model.trim="form.type" required></b-form-input>
      </b-form-group>

      <b-form-group
        id="priceFieldset"
        label="Podaj cenę"
        label-for="priceInput"
        :invalid-feedback="priceInvalidFeedback"
        :state="priceState">
        <b-form-input type="number" step="0.01" id="priceInput" :state="priceState" v-model.trim="form.price"
                      required></b-form-input>
      </b-form-group>

      <b-button type="submit" variant="primary">Zapisz</b-button>
    </b-form>
  </div>
</template>

<script>
  import {adminService} from "../../services/admin.service";

  export default {
    name: "TicketTypePanel",
    data() {
      return {
        form: {
          id: null,
          type: '',
          price: '',
        },

      }
    },
    methods: {
      onSubmit() {
        adminService.addOrUpdateTicketType(this.form)
      },
    },
    computed: {
      ticketState() {
        return this.form.type.length >= 1 && this.form.type.length <= 6;
      },
      ticketInvalidFeedback() {
        if (this.form.type.length >= 1 && this.form.type.length <= 6) {
          return '';
        } else if (this.form.type.length > 0 || this.form.type.length > 6) {
          return 'Typ biletu musi składać się z 1 do 6 znaków.';
        } else {
          return 'Typ biletu musi składać się z 1 do 6 znaków.';
        }
      },
      priceState() {
        return this.form.price.length >= 1 && this.form.price.length <= 8;
      },
      priceInvalidFeedback() {
        if (this.form.price.length >= 1 && this.form.price.length <= 8) {
          return '';
        } else if (this.form.price.length > 0 || this.form.price.length > 8) {
          return 'Cena musi składać się z 1 do 8 znaków.';
        } else {
          return 'Cena musi składać się z 1 do 8 znaków.';
        }
      },
    },
  }
</script>

<style lang="scss" scoped>

  .ticketTypePanelMainWrapper {
    margin: 20px auto;
  }

  .button-wrapper {
    margin-top: 20px;
  }

  .filter {
    margin-bottom: 10px;
  }
</style>
