<template>
  <div class="confirm-reservation-main-wrapper">
    <h5>Wpisz kod rezerwacji</h5>
    <b-input-group prepend="KOD:">
      <b-form-input v-model="code"></b-form-input>
      <b-input-group-append>
        <b-btn variant="warning" @click="checkReservation">SPRAWDŹ REZERWACJĘ</b-btn>
      </b-input-group-append>
    </b-input-group>
    <div v-if="!expired">
      <b-row class="movie-details-container" v-if="reservations.length > 0">
        <b-col class="image">
          <img :src="reservations[0].seat.show.movie.urlImageLink"
               alt="placeholder"/>
        </b-col>
        <b-col>
          <p>TYTUŁ FILMU: <b>{{reservations[0].seat.show.movie.title}}</b></p>
          <p>WERSJA PRZEKAZU: <b>{{reservations[0].seat.show.version}}</b></p>
          <p>TYP PROJEKCJI: <b>{{reservations[0].seat.show.projection}}</b></p>
          <p>NUMER SALI: <b>{{reservations[0].seat.show.room.roomNumber}}</b></p>
        </b-col>
      </b-row>
      <b-row align-v="center" class="reservation-row" v-for="(item, index) in reservations" :key="item.id">
        <b-col sm="12">
          {{index+1}}. RZĄD:<b> {{item.seat.armchair.row}}</b>,
          NUMER MIEJSCA:<b> {{item.seat.armchair.seat_number}}</b>, TYP FOTELA:<b>
          {{item.seat.armchair.armchair_type}}</b>
        </b-col>
      </b-row>
      <div class="buttons-wrapper">
        <b-btn variant="warning" v-if="reservations.length > 0" @click="confirm"><span v-if="reservations.length === 1">SPRZEDAJ BILET</span><span
          v-else>SPRZEDAJ BILETY</span></b-btn>
        <b-btn variant="danger" v-if="reservations.length > 0">ANULUJ REZERWACJĘ</b-btn>
      </div>
    </div>
    <h3 style="margin-top: 50px; text-align: center;" v-if="reservations.length > 0 && expired">REZERWACJA WYGASŁA</h3>
  </div>
</template>

<script>
  import {employeeService} from "../../services/employee.service";
  import checkReservationTimeMixin from "../../mixins/checkReservationTimeMixin";

  export default {
    name: "EmployeeConfirmReservation",
    data() {
      return {
        code: '',
        reservations: [],
        tickets: [],
        isSelected: {},
        confirmButton: true,
        expired: false,
        seats: [],
      }
    },
    methods: {
      checkReservation() {
        this.expired = false;
        this.reservations = [];
        employeeService.getReservationByCode(this.code)
          .then(response => {
            this.reservations = response;
            if (this.reservations.length > 0 && this.checkReservationTime(this.reservations[0].seat.show.date)) {
              this.expired = true;
            }
          });
      },
      confirm() {
        this.$router.push({
          name: 'EmployeeScreeningRoomTickets',
          params: {showId: this.reservations[0].seat.show.id},
          query: {
            reservation: this.reservations.map(item => {
              return item.seat.id;
            })
          }
        });
      },
    },
    mixins: [checkReservationTimeMixin]
  }
</script>

<style lang="scss" scoped>
  @import '../../scss/colors';

  .confirm-reservation-main-wrapper {
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .movie-details-container {
    padding: 10px;
  }

  .image {
    text-align: right;
  }

  img {
    height: 161px;
  }

  p {
    margin-top: 13px;
    margin-bottom: 13px;
  }

  .reservation-row {
    border-bottom: 1px solid $primary-light;
    border-top: 1px solid $primary-light;
    margin-bottom: 10px;
    padding: 5px;
  }

  .buttons-wrapper {
    display: flex;
    justify-content: space-between;
  }
</style>
