<template>
  <div>
    <b-btn class="logout" v-if="isLogged" @click="logout()" variant="outline-dark" size="sm">Wyloguj</b-btn>
    <div class=logo>
      <img class="top" src="../../assets/logo-primary-dark-text-bottom.svg" alt="KINO INŻYNIER">
    </div>
    <h3>PANEL PRACOWNIKA</h3>
    <b-navbar toggleable="md" type="dark" variant="dark">
      <b-navbar-toggle target="nav_collapse"></b-navbar-toggle>
      <b-collapse is-nav id="nav_collapse">
        <b-navbar-nav fill>
          <b-nav-item :to="{name:'Reservation'}" append>REZERWACJA MIEJSC</b-nav-item>
          <b-nav-item :to="{name:'ConfirmReservation'}" append>ZARZĄDZANIE REZERWACJAMI</b-nav-item>
          <b-nav-item :to="{name:'Tickets'}" append>SPRZEDAŻ BILETU</b-nav-item>
        </b-navbar-nav>
      </b-collapse>
    </b-navbar>
    <div class="container">
      <router-view/>
    </div>
  </div>
</template>

<script>

  import {mapActions, mapGetters} from "vuex";
  import {loginService} from "../../services/login.service";

  export default {
    name: "EmployeeApp",
    data() {
      return {
        cinemaId: null
      }
    },
    methods: {
      ...mapActions({
        storeLogout: 'store/storeLogout'
      }),
      logout() {
        loginService.logout();
        this.storeLogout(false);
        setTimeout(() => {
          this.$router.push({name: 'EmployeeLogin'});
        }, 500)
      }
    },
    computed: {
      ...mapGetters({
        isLogged: 'store/isLogged'
      })
    }
  }
</script>

<style lang="scss" scoped>
  .buttons {
    display: flex;
    flex-flow: row;
    flex-wrap: wrap;
    justify-content: flex-start;
  }

  .btn {
    margin: 4px;
  }

  h3 {
    text-align: center;
  }

  .logo {
    text-align: center;
  }

  img {
    &.top {
      width: 200px;
      margin-top: 10px;
      margin-bottom: 20px;
    }
  }

  .btn {
    margin: 4px;
  }

  .nav-link {
    margin-bottom: 6px;
    margin-left: 20px;
    margin-right: 20px;
    padding-bottom: 0;
  }

  .logout {
    position: absolute;
  }
</style>
