<template>
  <div style="margin-top: 30px; margin-bottom: 30px">
    <h2 align="center">O nas</h2>
    <div class="content">
      <p>
        <img class="first-photo"
             src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSU75fMvkPsTtbsmC8tZa_XhV64nwdALGaV0pKGtgkVu9sfxpA-"/>
        Zaprojektowanie i wykonanie systemu informacyjnego dla sieci kin zostało wybrane
        przez nas tj. Kacper Onak i Krystian Rasławski jako realizacja pracy inżynierskiej
        w Państwowej Wyższej Szkole Zawodowej w Tarnowie w roku 2018/2019.
        Praca inżynierska powstawała pod okiem dr inż. Stanisława Stocha.
      </p>
      <p>
        <img class="second-photo"
             src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSxExtHbsM1_GXmdUH4Y2Jas3B7D3nj0QXzNK__0i5PE8-WBGjJuw"/>
        Część serwerowa (backend) została w wiekszości wykonana przez Kacpra Onaka.
        Część wizualna (frontend) została w wiekszości wykonana przez Krystiana Rasławskiego
      </p>
    </div>
  </div>
</template>

<script>
  export default {
    name: "aboutUs"
  }
</script>

<style lang="scss" scoped>

  .content {
    margin: auto;
    width: 80%;
    text-align: justify;
    text-justify: inter-word;
  }

  img {
    &.first-photo {
      float: left;
      width: 250px;
      height: 200px;
      margin-right: 15px;
      margin-bottom: 15px;
    }

    &.second-photo {
      float: right;
      width: 300px;
      height: 200px;
      margin-left: 15px;
      margin-bottom: 15px;
    }
  }
</style>
