<template>
  <div id="sign-up-main-wrapper" class="singUpMainWrapper">
    <h3>Zmień hasło</h3>
    <b-form @submit="onSubmit" @reset="onReset" v-if="show">
      <b-form-group
        id="oldPasswordFieldset"
        label="Wprowadź stare hasło"
        label-for="oldPasswordInput">
        <b-form-input type="password" id="oldPasswordInput"
                      v-model.trim="form.oldPass" required></b-form-input>
      </b-form-group>

      <b-form-group
        id="newPasswordFieldset"
        description="Użyj co najmniej 8 znaków. Nie używaj hasła z innych serwisów."
        label="Wprowadź nowe hasło"
        label-for="newPasswordInput"
        :invalid-feedback="newPasswordInvalidFeedback"
        :state="newPasswordState">
        <b-form-input type="password" id="newPasswordInput" :state="newPasswordState"
                      v-model.trim="form.newPass" required></b-form-input>
      </b-form-group>

      <b-button type="submit" variant="primary">Zmień hasło</b-button>
    </b-form>
  </div>
</template>

<script>
  import {loginService} from "../services/login.service";

  export default {
    name: "ChangePassword",
    data() {
      return {
        form: {
          oldPass: '',
          newPass: '',
        },
        show: true,
        errors: []
      }
    },
    computed: {
      newPasswordState() {
        return this.form.newPass.length >= 8 && this.form.newPass.length <= 60;
      },
      newPasswordInvalidFeedback() {
        if (this.form.newPass.length >= 8 && this.form.newPass.length <= 60) {
          return '';
        } else if (this.form.newPass.length > 0 || this.form.newPass.length > 60) {
          return 'Hasło musi składać się z 8 do 60 znaków.';
        } else {
          return 'Hasło musi składać się z 8 do 60 znaków.';
        }
      },
    },
    methods: {
      onSubmit(evt) {
        evt.preventDefault();
        loginService.updateUserPassword(loginService.getLogin(localStorage.getItem('user')), this.form.oldPass, this.form.newPass)
        this.$router.push({name: 'CinemaHomeContent'});
        return true;
      },
      onReset(evt) {
        evt.preventDefault();
        this.form.oldPass = '';
        this.form.newPass = '';
        this.show = false;
        this.$nextTick(() => {
          this.show = true
        });
      }
    },
  }
</script>

<style lang="scss">
  .singUpMainWrapper {
    margin: 0 auto;
    text-align: left;
    @media (max-width: 768px) {
      width: 80%;
    }
  }

  h3 {
    text-align: center;
  }

</style>
