<template>
  <div id="app">
    <navipanel/>
    <div id="main-content-wrapper">
      <router-view/>
    </div>
    <footerpanel id="footer"/>
  </div>
</template>

<script>

  import Navipanel from "../components/Navipanel";
  import Footerpanel from "../components/Footerpanel";

  export default {
    components: {Footerpanel, Navipanel},
    created() {
      if (this.$route.fullPath === '/cinema') {
        this.$router.push({name: 'CinemaHomeContent'});
      }
    }
  }
</script>

<style lang="scss">
  @import "../scss/colors";

  $footerPaddingDesktop: 11rem;
  $footerPaddingMobile: 11rem;

  html {
    height: 100%;
  }

  #app {

    position: relative;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    height: 100vh;
  }

  #main-content-wrapper {
    flex: 1 0 auto;
    padding-bottom: 20px;
  }

  #footer {
    flex-shrink: 0;
    padding-top: 20px;
    background: $primary-dark;
  }

</style>
