<template>
  <div>
    <div v-if="areMoviesReady === false" class="spinner">
      <div>
        <half-circle-spinner
          :animation-duration="1000"
          :size="140"
          color="#ffc107"/>
      </div>
    </div>
    <div v-else class="home-carousels">
      <div class="row justify-content-center">
        <div class="col-md-12">
          <div v-if="moviesTop.length !==0" class="main-carousel">
            <b-carousel id="carousel1"
                        style="text-shadow: 1px 1px 2px #333;"
                        controls
                        indicators
                        :interval="4000"
                        v-model="slide"
                        @sliding-start="onSlideStart"
                        @sliding-end="onSlideEnd">

              <b-carousel-slide v-for="it in moviesTop" :key="it.id">
                <img slot="img" class="d-block" height="500"
                     :src="it.urlImageLink" alt="cover slot">
                <div class="movie-details">
                  <h3 class="movie-title">{{it.title}}</h3>
                  <p class="movie-description">{{it.description | truncate(80)}}</p>
                  <button v-if="it.title" class="read-more">
                    <router-link :to="{ name: 'Movie', params: { movieId: it.id }}">
                      > Przejdź do szczegółów o filmie <
                    </router-link>
                  </button>
                </div>
              </b-carousel-slide>
            </b-carousel>
          </div>
        </div>
      </div>

      <hr>

      <div class="row row-eq-height justify-content-center">
        <div class="col-md-6 carousel-content">
          <h2>TERAZ GRAMY</h2>
          <div v-if="moviesNow.length !== 0" class="small-carousel">
            <b-carousel id="carousel2"
                        style="text-shadow: 1px 1px 2px #333;"
                        controls
                        indicators
                        :interval="8000">

              <b-carousel-slide v-for="it in moviesNow" :key="it.id">
                <img slot="img" class="d-block" height="500"
                     :src="it.urlImageLink" alt="cover slot">
                <div class="movie-details">
                  <h3 class="movie-title">{{it.title}}</h3>
                  <p class="movie-description">{{it.description | truncate(80)}}</p>
                  <button class="read-more">
                    <router-link :to="{ name: 'Movie', params: { movieId: it.id }}">> Przejdź do szczegółów o filmie <
                    </router-link>
                  </button>
                </div>
              </b-carousel-slide>
            </b-carousel>
          </div>
          <div v-else class="empty-content">
            <img src="./../assets/empty-content.svg">
          </div>
        </div>

        <div class="col-md-6 carousel-content">
          <h2>WKRÓTCE DOSTĘPNE</h2>
          <div v-if="moviesSoon.length !== 0" class="small-carousel">
            <b-carousel id="carousel3"
                        style="text-shadow: 1px 1px 2px #333;"
                        controls
                        indicators
                        :interval="8000">

              <b-carousel-slide v-for="it in moviesSoon" :key="it.id">
                <img slot="img" class="d-block" height="500"
                     :src="it.urlImageLink" alt="cover slot">
                <div class="movie-details">
                  <h3 class="movie-title">{{it.title}}</h3>
                  <p class="movie-description">{{it.description | truncate(80)}}</p>
                    <router-link v-if="it.title" class="read-more" :to="{ name: 'Movie', params: { movieId: it.id }}">> Przejdź do szczegółów o filmie <
                    </router-link>
                </div>
              </b-carousel-slide>

            </b-carousel>
          </div>
          <div v-else class="empty-content">
            <img src="./../assets/empty-content.svg">
          </div>
        </div>
      </div>
      <hr>

      <div class="row justify-content-center">
        <h2 class="today-shows">DZISIAJ W KINIE</h2>
        <div class="col-md-12">
          <content-loader v-if="areShowsReady === false"
                          :speed="3"
                          :animate="true"
                          primaryColor="#e3e6e8"
                          secondaryColor="#6c757d">
            <rect x="53" y="2" rx="5" ry="5" width="295" height="73"/>
            <circle cx="186" cy="85" r="5"/>
            <circle cx="199" cy="85" r="5"/>
            <circle cx="212" cy="85" r="5"/>
          </content-loader>
          <div class="no-entries" v-else-if="entries.length===0">
            <h3>Brak seansów.</h3>
          </div>
          <show-list v-else :shows="entries"/>
        </div>
      </div>
    </div>

  </div>
</template>

<script>
  import showGroupByMixin from "../mixins/showGroupByMixin";
  import ShowList from "../components/ShowList";
  import {ContentLoader} from 'vue-content-loader';
  import HalfCircleSpinner from "epic-spinners/src/components/lib/HalfCircleSpinner";

  export default {
    components: {HalfCircleSpinner, ShowList, ContentLoader},
    data() {
      return {
        shows: {},
        entries: [],
        moviesTop: {},
        moviesSoon: {},
        moviesNow: {},
        slide: 0,
        sliding: null,
        areShowsReady: false,
        areMoviesReady: false,
      }
    },
    created() {
      let cinema = JSON.parse(localStorage.getItem('cinema'));
      const promises = [
        this.$http.get(`/api/user/getMovieTopThree`, {params: {cinemaId: cinema.id}}),
        this.$http.get(`/api/user/getMovieForWeek`, {params: {cinemaId: cinema.id}}),
        this.$http.get(`/api/user/getMovieByDate`)
      ];
      Promise.all(promises)
        .then(response => {
          return response.map(entry => entry.data);
        }).then(data => {
        setTimeout(() => {
          this.moviesTop = data[0].data;
          this.moviesNow = data[1].data;
          this.moviesSoon = data[2].data;
          this.areMoviesReady = true;
        }, 500);
      });

      let date = new Date();
      let currentDate = new Date(`${date.getFullYear()}-${date.getMonth() + 1}-${date.getDate()}`).toDateString();

      this.$http.get(`/api/user/${cinema.id}/getShowByDate`, {params: {date: currentDate}})
        .then(response => {
          setTimeout(() => {
            this.entries = this.groupBy(response.data.data, (item) => {
              return [item.movie.title, item.version];
            });
            this.areShowsReady = true;
          }, 1000);
        })
    },
    methods: {
      onSlideStart(slide) {
        this.sliding = true
      },
      onSlideEnd(slide) {
        this.sliding = false
      },
    },
    filters: {
      truncate: function (value, charNumber) {
        if (!value) return '';
        value = value.toString();
        return value.slice(0, charNumber) + '...';
      },
    },
    mixins: [showGroupByMixin]
  }
</script>

<style scoped>
  .spinner {
    margin-top: 40px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .row {
    margin-right: unset;
    margin-left: unset;
  }

  .main-carousel {
    margin-bottom: 30px;
  }

  .small-carousel {
    margin-bottom: 30px;
    margin-top: 30px;
  }

  .carousel-inner img {
    margin: auto;
  }

  .no-entries {
    margin-top: 30px;
    text-align: center;
  }

  .movie-details {
    background-color: rgba(53, 59, 65, 0.75) !important;
    box-shadow: 2px 2px 10px 0px rgba(52, 58, 64, 1);
    padding: 10px;
  }

  .movie-description {
    margin-bottom: 0;
  }

  .read-more {
    color: white;
    text-shadow: 1px 1px 2px #333;
    margin-top: 0;
    background-color: transparent;
    border: transparent;
    cursor: pointer;
    transition: 0.5s;
  }

  a {
    color: white;
    text-decoration: none;
  }

  a:hover {
    color: #e3e6e8;
    text-decoration: underline;
    transition: 0.5s;
  }

  .carousel-content {
    text-align: center;
  }

  .empty-content img {
    max-width: 100%;
    height: 500px;
  }

  .today-shows {
    text-align: center;
    margin-bottom: 30px;
  }

  h2 {
    margin-bottom: 0;
  }

  hr {
    border-top: 2px solid #e3e6e8;
  }

  .carousel-item {
    background: rgba(239, 241, 243, 1);
    background: -moz-linear-gradient(left, rgba(239, 241, 243, 1) 0%, rgba(168, 173, 179, 1) 20%, rgba(108, 117, 125, 1) 35%, rgba(108, 117, 125, 1) 65%, rgba(168, 173, 179, 1) 80%, rgba(239, 241, 243, 1) 100%);
    background: -webkit-linear-gradient(left, rgba(239, 241, 243, 1) 0%, rgba(168, 173, 179, 1) 20%, rgba(108, 117, 125, 1) 35%, rgba(108, 117, 125, 1) 65%, rgba(168, 173, 179, 1) 80%, rgba(239, 241, 243, 1) 100%);
    background: -o-linear-gradient(left, rgba(239, 241, 243, 1) 0%, rgba(168, 173, 179, 1) 20%, rgba(108, 117, 125, 1) 35%, rgba(108, 117, 125, 1) 65%, rgba(168, 173, 179, 1) 80%, rgba(239, 241, 243, 1) 100%);
    background: -ms-linear-gradient(left, rgba(239, 241, 243, 1) 0%, rgba(168, 173, 179, 1) 20%, rgba(108, 117, 125, 1) 35%, rgba(108, 117, 125, 1) 65%, rgba(168, 173, 179, 1) 80%, rgba(239, 241, 243, 1) 100%);
    background: linear-gradient(to right, rgba(239, 241, 243, 1) 0%, rgba(168, 173, 179, 1) 20%, rgba(108, 117, 125, 1) 35%, rgba(108, 117, 125, 1) 65%, rgba(168, 173, 179, 1) 80%, rgba(239, 241, 243, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#eff1f3', endColorstr='#eff1f3', GradientType=1);
  }

</style>
