<template>
  <div id="coming-soon-main-container">
    <input type="text" v-model.lazy.trim="search" class="form-control" placeholder="Podaj tytuł filmu">

    <content-loader v-if="isReady === false"
                    :height="300"
                    :width="600"
                    :speed="3"
                    :animate="true"
                    primaryColor="#e3e6e8"
                    secondaryColor="#6c757d">
      <rect x="47" y="5" rx="5" ry="5" width="110" height="195"/>
      <rect x="167" y="5" rx="5" ry="5" width="110" height="195"/>
      <circle cx="287" cy="100" r="5"/>
      <circle cx="300" cy="100" r="5"/>
      <circle cx="313" cy="100" r="5"/>
    </content-loader>

    <div v-else id="coming-soon-container">
      <div v-for="movie in filteredMovies" :key="movie.id">
        <router-link :to="{ name: 'Movie', params: { movieId: movie.id }}">
          <coming-soon-entry :movie="movie"/>
        </router-link>
      </div>
    </div>
  </div>
</template>

<script>
  import {ContentLoader} from 'vue-content-loader';
  import ComingSoonEntry from "../components/ComingSoonEntry";

  export default {
    name: "ComingSoon",
    components: {ComingSoonEntry, ContentLoader},
    data() {
      return {
        movies: [],
        search: '',
        isReady: false,
      }
    },
    created() {
      this.$http.get(`/api/user/getMovieByDate`)
        .then(response => {
          this.movies = response.body.data;
          setTimeout(() => {
            this.isReady = true;
          }, 1000);
        })
    },
    computed: {
      filteredMovies() {
        return this.movies.filter((movie) => {
          return movie.title.toLowerCase().match(this.search.toLowerCase());
        });
      }
    }
  }

</script>

<style lang="scss" scoped>
  @import "../scss/colors";

  #coming-soon-container {
    width: 90vw;
    margin: auto;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-content: center;
  }

  a {
    color: $primary-dark;
    text-decoration: none;
  }

  input {
    width: 50vw;
    margin: 10px auto auto;
    text-align: center;
  }
</style>
