<template>
  <div class="container" style="margin-top: 30px; margin-bottom: 30px">
    <h2 align="center">Kontakt</h2>
    <div class="row align-items-center justify-content-center" style="margin-top: 30px">
      <div class="col-md-12 details">
        <p><strong>Adres:</strong> {{cinema.street}} {{cinema.building_number}}, {{cinema.town}}</p>
        <p><strong>Numer telefonu:</strong> {{cinema.phone_number | phoneNumber}}</p>
        <p><strong>E-mail:</strong> <a :href="'mailto:'+cinema.email">{{cinema.email}}</a></p>
      </div>
    </div>
  </div>
</template>

<script>
  export default {
    name: "Contact",
    data() {
      return {
        cinema: [],
      }
    },
    created() {
      this.cinema = JSON.parse(localStorage.getItem('cinema'));
    },
    filters: {
      phoneNumber: function (value) {
        if (!value) return '';
        value = value.toString().replace(/(.{3})/g, "$1 ");
        return value;
      }
    }
  }
</script>

<style scoped>

  .details {
    text-align: center;
  }
</style>
