<template>
  <div>
    <div class="home-content-wrapper">
      <div class=logo>
        <img class="top" src="./../assets/logo-primary-dark-text-bottom.svg" alt="KINO INŻYNIER">
      </div>

      <div class="content">
        <div class="row cinema-list container-fluid justify-content-center">
          <div class="col col-md-12 col-lg-6">
            <h2>WYBIERZ KINO</h2>
            <b-list-group>
              <b-list-group-item v-for="item in cinemaList" @click="setCinemaAndRedirect(JSON.stringify(item))"
                                 :to="{name: 'CinemaHome'}"
                                 :key="item.Id"><span class="town">{{item.town}},</span>
                {{item.street}}
                {{item.building_number}}
              </b-list-group-item>
            </b-list-group>
          </div>
        </div>
      </div>

      <div class="footer container-fluid">
        <div class="logo">
          <img class="bottom" src="./../assets/logo-secondary.svg" alt="KINO INŻYNIER">
        </div>
        <div class="row">
          <div class="col col-md-12" id="social-col">
            <ul class="socialMedia">
              <h6 style="display: inline">Social media:</h6>
              <li><a href="https://www.facebook.com">FACEBOOK</a></li>
              <li><a href="https://www.twitter.com">TWITTER</a></li>
              <li><a href="https://www.instagram.com">INSTAGRAM</a></li>
            </ul>
          </div>
        </div>
        <div class="row">
          <div class="col col-md-12">
            <p>&copy Kacper Onak, Krystian Rasławski</p>
            <p>2018 - 2019</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
  import {mapGetters} from 'vuex'
  import {mapActions} from 'vuex'


  export default {
    name: "Home",
    data() {
      return {
        visible: true,
        cinemaList: [],
      }
    },
    created() {
      this.$http.get(`/api/user/getCinemaByTownAsc/`)
        .then(response => {
          this.cinemaList = response.body.data;
        })
    },
    mounted() {

    },
    methods: {
      setCinemaAndRedirect(cinema) {
        this.setCinema(cinema);
        setTimeout(() => {
          this.$router.push({name: `CinemaHome`});
        }, 500);
      },
      ...mapActions({
        setCinema: 'store/setCinema'
      }),
    },
    computed: {
      ...mapGetters({
        isCinemaSet: 'store/isCinemaSet'
      }),
    }
  }
</script>

<style lang="scss" scoped>
  @import "../scss/colors";

  .logo {
    text-align: center;
  }

  img {
    &.top {
      max-width: 300px;
      margin-top: 50px;
      margin-bottom: 50px;
    }

    &.bottom {
      max-width: 40px;
      margin-top: 4px;
    }
  }

  .home-content-wrapper {
    position: relative;
    min-height: 100vh;
    height: 100vh;
    display: flex;
    flex-direction: column;
  }

  .content {
    flex: 1 0 auto;
  }

  div {
    &.footer.container-fluid {
      padding-top: 0;
      margin-top: 20px;
    }

    &.footer {
      background: $primary-dark;
      color: $primary-light;
      flex-shrink: 0;
      padding-top: 20px;
    }
  }

  #social-col {
    text-align: center;
    padding: auto;
  }

  ul.socialMedia {
    list-style-type: none;
    padding: 0;
    margin-bottom: 0;
    margin-top: 0;
    font-size: 0.8rem;

    a {
      color: $primary-light;

      &:hover {
        color: $secondary;
        text-decoration-line: none;
      }
    }

    li {
      display: inline;

      &:not(:last-child)::after {
        content: ' | ';
      }
    }

    @media (max-width: 548px) {
      text-align: center;
      padding-left: 0;
    }
  }

  p {
    color: $primary-light;
    font-weight: lighter;
    font-size: 0.8rem;
    text-align: center;
    margin: auto;
    margin: 0;
  }

  .cinema-list {
    margin: auto;
  }

  .town {
    font-weight: bold;
    text-transform: uppercase;
  }

  h2 {
    text-align: center;
  }

</style>
