<template>
  <div id="login-main-wrapper" class="loginMainWrapper">
    <h3>Zaloguj się</h3>
    <b-form @submit="onSubmit" v-if="show">
      <b-form-group id="loginFieldset"
                    label="Login:"
                    label-for="loginInput">
        <b-form-input id="loginInput"
                      type="text"
                      v-model="form.login"
                      required
                      placeholder="Wpisz login">
        </b-form-input>
      </b-form-group>
      <b-form-group id="passwordFieldset"
                    label="Hasło:"
                    label-for="passwordInput">
        <b-form-input id="passwordInput"
                      type="password"
                      v-model="form.password"
                      required
                      placeholder="Wpisz hasło">
        </b-form-input>
      </b-form-group>

      <b-button type="submit" variant="primary">Zaloguj</b-button>
    </b-form>
  </div>
</template>

<script>
  import {mapActions, mapGetters} from "vuex";

  import {loginService} from "../services/login.service";

  export default {
    name: "Login",
    data() {
      return {
        form: {
          login: '',
          password: '',
        },
        show: true
      }
    },
    created() {
      if (this.isLogged) {
        this.$router.push({name: 'CinemaHomeContent'});
      }
    },
    methods: {
      ...mapActions({
        login: 'store/login',
      }),
      onSubmit(evt) {
        let loggedIn = loginService.login(this.form.login, this.form.password);
        evt.preventDefault();
        setTimeout(() => {
          if (!!localStorage.getItem('user')) {
            this.$router.push({name: 'CinemaHomeContent'});
            this.login(true);
          }
        }, 1000);
      },

    },
    computed: {
      ...mapGetters({
        isLogged: 'store/isLogged'
      })
    }
  }
</script>

<style lang="scss" scoped>
  .loginMainWrapper {
    width: 700px;
    margin: 50px auto;

    @media (max-width: 768px) {
      width: 80%;
    }
  }

  h3 {
    text-align: center;
  }

</style>
