<template>
  <div id="movie-details-wrapper">
    <content-loader v-if="isReady === false"
                    :height="491"
                    :width="800"
                    :speed="3"
                    :animate="true"
                    primaryColor="#e3e6e8"
                    secondaryColor="#6c757d">
      <rect x="135" y="3" rx="4" ry="4" width="160" height="13"/>
      <rect x="135" y="33" rx="4" ry="4" width="100" height="7"/>
      <rect x="435" y="3" rx="5" ry="5" width="230" height="340"/>
      <rect x="135" y="63" rx="4" ry="4" width="160" height="13"/>
      <rect x="135" y="93" rx="4" ry="4" width="100" height="7"/>
      <rect x="135" y="123" rx="4" ry="4" width="160" height="13"/>
      <rect x="135" y="153" rx="4" ry="4" width="100" height="7"/>
      <rect x="135" y="183" rx="4" ry="4" width="160" height="13"/>
      <rect x="135" y="213" rx="4" ry="4" width="100" height="7"/>
      <rect x="135" y="243" rx="4" ry="4" width="160" height="13"/>
      <rect x="135" y="273" rx="4" ry="4" width="100" height="7"/>
      <rect x="135" y="303" rx="4" ry="4" width="160" height="13"/>
      <rect x="135" y="333" rx="4" ry="4" width="100" height="7"/>
      <rect x="135" y="363" rx="4" ry="4" width="160" height="13"/>
      <rect x="135" y="383" rx="4" ry="4" width="530" height="7"/>
      <rect x="135" y="393" rx="4" ry="4" width="455" height="7"/>
    </content-loader>

    <div v-else class="row justify-content-center">
      <div class="col-md-4 details">
        <div class="movieDetail">
          <p class="detailHeader">Tytuł:</p>
          <p v-if="movie.title == null">Brak informacji</p>
          <p v-else>{{ movie.title }}</p>
        </div>
        <div class="movieDetail">
          <p class="detailHeader">Czas trwania:</p>
          <p v-if="movie.duration == null">Brak informacji</p>
          <p v-else>{{ movie.duration }} minut</p>
        </div>
        <div class="movieDetail">
          <p class="detailHeader">Gatunek:</p>
          <p v-if="movie.genre == null">Brak informacji</p>
          <p v-else>{{ movie.genre }}</p>
        </div>
        <div class="movieDetail">
          <p class="detailHeader">Reżyseria:</p>
          <p v-if="directors.length != 0">
            <span v-for="(director, index) in directors">{{ director.name }} {{ director.surname }}<span
              v-if="index !== directors.length - 1">, </span></span>
          </p>
          <p v-else>Brak informacji</p>
        </div>
        <div class="movieDetail">
          <p class="detailHeader">Występują:</p>
          <p v-if="directors.length != 0">
            <span v-for="(actor, index) in actors">{{ actor.name }} {{ actor.surname }}<span
              v-if="index !== actors.length - 1">, </span></span>
          </p>
          <p v-else>Brak informacji</p>
        </div>
        <div class="movieDetail">
          <p class="detailHeader">Język oryginalny:</p>
          <p v-if="movie.originalLanguage == null">Brak informacji</p>
          <p v-else>{{ movie.originalLanguage }}</p>
        </div>
      </div>
      <div class="col-md-4 cover">
        <img :src="movie.urlImageLink"/>

      </div>
      <div class="col-md-8 description">
        <p class="detailHeader">Opis:</p>
        <p v-if="movie.description == null">Brak informacji</p>
        <p v-else>{{ movie.description }}</p>
      </div>
    </div>

    <hr>

    <div class="row">
      <div class="col-md-12">
        <h2 class="no-entries">NAJBLIŻSZE SEANSE</h2>
        <content-loader v-if="areShowsReady === false"
                        :speed="3"
                        :animate="true"
                        primaryColor="#e3e6e8"
                        secondaryColor="#6c757d">
          <rect x="53" y="2" rx="5" ry="5" width="295" height="73"/>
          <!--<rect x="53" y="78" rx="5" ry="5" width="295" height="73"/>-->
          <circle cx="186" cy="85" r="5"/>
          <circle cx="199" cy="85" r="5"/>
          <circle cx="212" cy="85" r="5"/>
        </content-loader>
        <div class="no-entries" v-else-if="comingShows.length===0">
          <h3>Brak seansów dla wybranego filmu.</h3>
        </div>
        <show-list :small-version="true" :shows="comingShows"/>
      </div>
    </div>
  </div>
</template>

<script>
  import {ContentLoader} from 'vue-content-loader';
  import ShowList from "../components/ShowList";
  import showGroupByMixin from "../mixins/showGroupByMixin";

  export default {
    name: "MovieDetails",
    components: {
      ShowList,
      ContentLoader
    },
    data() {
      return {
        isReady: false,
        areShowsReady: false,
        movie: '',
        actors: '',
        directors: '',
        comingShows: [],
        shows: [],
      }
    },
    created() {
      const promises = [
        this.$http.get(`/api/user/getMovie/` + this.$route.params.movieId),
        this.$http.get(`/api/user/getActorsByMovieId/` + this.$route.params.movieId),
        this.$http.get(`/api/user/getDirectorsByMovieId/` + this.$route.params.movieId),
      ];
      Promise.all(promises)
        .then(response => {
          return response.map(entry => entry.data);
        }).then(data => {
        setTimeout(() => {
          this.movie = data[0];
          this.actors = data[1].data;
          this.directors = data[2].data;
          this.isReady = true;
        }, 1000);
      }).catch(error => {
        if (error.status === 404) {
          return this.$router.push({name: "404"})
        }
      });
      let cinema = JSON.parse(localStorage.getItem('cinema'))
      this.$http.get(`/api/user/${cinema.id}/getShowByMovieId/` + this.$route.params.movieId)
        .then(response => {
          setTimeout(() => {
            this.comingShows = this.groupBy(response.data.data, (item) => {
              return [item.date.slice(0, item.date.indexOf('T')), item.version];
            });
            this.areShowsReady = true;
          }, 1000);
        })
    },
    mixins: [showGroupByMixin],
  }
</script>

<style lang="scss" scoped>
  @import "../scss/colors";

  #movie-details-wrapper {
    width: 95%;
    margin: 20px auto;
    padding: 20px;
  }

  p {
    &.detailHeader {
      font-weight: bold;
      margin: auto;
    }
  }

  .details {
    @media (max-width: 768px) {
      text-align: center;
    }
  }

  .movieDetail {
    margin: 0 auto 20px;
  }

  .cover {
    text-align: right;
    @media (max-width: 768px) {
      text-align: center;
    }
  }

  img {
    max-width: 100%;
    max-height: 80vh;
  }

  .description {
    margin-top: 20px;
    @media (max-width: 768px) {
      text-align: center;
    }
  }

  .no-entries {
    margin-top: 20px;
    text-align: center;
  }
</style>
