<template>
  <div id="not-found">
    <p>404</p>
  </div>
</template>

<script>
  export default {
    name: "NotFound"
  }
</script>

<style scoped>
  p {
    font-size: 8rem;
    font-weight: bold;
    margin: auto;
    text-align: center;
  }
</style>
