<template>
  <div style="margin-top: 30px; margin-bottom: 30px">
    <h2 align="center">Cennik</h2>
    <div class="content" style="margin-top: 30px">
      <b-table :striped="false"
               :outlined="true"
               :fixed="true"
               :items="values"
               :fields="fields">
        <template slot="ticketType" slot-scope="data">
          {{data.value}}
        </template>
        <template slot="price" slot-scope="data">{{data.value}} zł</template>
      </b-table>
      <div style="text-align: center">
        <h3 style="margin-top: 30px; margin-bottom: 30px">Informacje dodatkowe</h3>
        <b-row>
          <b-col>
            <p><b>Opłaty dodatkowe, które nie są wliczone w cenę biletu:</b></p>
            <p>*Okulary 3D - 2,00 zł</p>
            <p>*Miejsce VIP - 3,00 zł</p>
          </b-col>
          <b-col>
            <p><b>Zniżka:</b></p>
            <p>15% zniżki przy rezerwacji minimum 15 miejsc</p>
          </b-col>
        </b-row>
      </div>
    </div>
  </div>
</template>

<script>
  export default {
    name: "PriceList",
    data() {
      return {
        values: [],
        fields: [
          {
            key: 'ticketType',
            label: 'Typ biletu',
            formatter: (value) => {
              return value.charAt(0).toUpperCase() + value.slice(1)
            },
            'class': 'text-center'
          },
          {
            key: 'projectionType',
            label: 'Typ projekcji',
            'class': 'text-center'
          },
          {
            key: 'price',
            label: 'Cena',
            'class': 'text-center'
          }
        ],
      }
    },
    created() {
      this.$http.get(`/api/user/getTicketWithProjection`)
        .then(response => {
          this.values = response.data.data
        });
    }
  }
</script>

<style lang="scss" scoped>
  .content {
    margin: auto;
    width: 80%;
    text-align: justify;
    text-justify: inter-word;
  }

</style>
