<template>
  <div>
    <calendar @active-day="getSelectedDay"/>
    <content-loader v-if="isReady === false"
                    :speed="3"
                    :animate="true"
                    primaryColor="#e3e6e8"
                    secondaryColor="#6c757d">
      <rect x="53" y="2" rx="5" ry="5" width="295" height="73"/>
      <circle cx="186" cy="85" r="5"/>
      <circle cx="199" cy="85" r="5"/>
      <circle cx="212" cy="85" r="5"/>
    </content-loader>
    <div class="no-entries" v-else-if="entries.length===0">
      <h3>Brak seansów na wybrany dzień.</h3>
    </div>
    <show-list v-else :shows="entries"/>
  </div>
</template>

<script>
  import {ContentLoader} from 'vue-content-loader';
  import calendarMixin from '../mixins/calendarGeneratorFunction';
  import Calendar from "../components/Calendar";
  import ShowList from "../components/ShowList";
  import showGroupByMixin from "../mixins/showGroupByMixin";

  export default {
    name: "Show",
    components: {ShowList, Calendar, ContentLoader},
    data() {
      return {
        currentWeek: [],
        days: {},
        showId: 0,
        newShow: {},
        newRoom: {},
        newMovie: {},
        show: {},
        date: '',
        selectedDay: null,
        entries: [],
        isReady: false
      }
    },
    created() {
      this.currentWeek = calendarMixin.prepareWeekCalendar();
      this.selectedDay = this.currentWeek[0];
      this.getShowForSelectedDate();
    },
    methods: {
      getShowForSelectedDate() {
        let cinema = JSON.parse(localStorage.getItem('cinema'));
        let date = new Date(`${this.selectedDay.year}-${this.selectedDay.month}-${this.selectedDay.day}`).toDateString();
        this.$http.get(`/api/user/${cinema.id}/getShowByDate`, {params: {date: date}})
          .then(response => {
            setTimeout(() => {
              this.entries = this.groupBy(response.data.data, (item) => {
                return [item.movie.title, item.version];
              });
              this.isReady = true;
            }, 1000);
          })
      },
      getSelectedDay(e) {
        this.isReady = false;
        this.selectedDay = e;
        this.getShowForSelectedDate();
      },
      setMovie(movie) {
        this.show.movie = movie;
      },
      setRoom(room) {
        this.show.room = room;
      },
    },
    mixins: [calendarMixin, showGroupByMixin]
  }
</script>

<style lang="scss" scoped>
  @import "../scss/colors";

  .no-entries {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
  }
</style>
