<template>
  <div id="sign-up-main-wrapper" class="singUpMainWrapper">
    <h3>Załóż konto</h3>
    <b-form @submit="onSubmit" @reset="onReset" v-if="show">
      <b-form-group
        id="loginFieldset"
        description="np. jan12"
        label="Podaj login"
        label-for="loginInput"
        :invalid-feedback="loginInvalidFeedback"
        :state="loginState">
        <b-form-input id="loginInput" :state="loginState" v-model.trim="form.credentials.login" required></b-form-input>
      </b-form-group>

      <b-form-group
        id="emailFieldset"
        description="np. jankowalski@gmail.com"
        label="Podaj e-mail"
        label-for="emailInput"
        :invalid-feedback="emailInvalidFeedback"
        :state="emailState">
        <b-form-input id="emailInput" :state="emailState" v-model.trim="form.email" required></b-form-input>
      </b-form-group>

      <b-form-group
        id="passwordFieldset"
        description="Użyj co najmniej 8 znaków. Nie używaj hasła z innych serwisów."
        label="Podaj hasło"
        label-for="passwordInput"
        :invalid-feedback="passwordInvalidFeedback"
        :state="passwordState">
        <b-form-input type="password" id="passwordInput" :state="passwordState"
                      v-model.trim="form.credentials.password" required></b-form-input>
      </b-form-group>

      <b-form-group
        id="nameFieldset"
        description="(To pole nie jest wymagane)."
        label="Podaj imię"
        label-for="nameInput"
        :invalid-feedback="nameInvalidFeedback"
        :state="nameState">
        <b-form-input id="nameInput" :state="nameState" v-model.trim="form.name"></b-form-input>
      </b-form-group>

      <b-form-group
        id="surnameFieldset"
        description="(To pole nie jest wymagane)."
        label="Podaj nazwisko"
        label-for="surnameInput"
        :invalid-feedback="surnameInvalidFeedback"
        :state="surnameState">
        <b-form-input id="surnameInput" :state="surnameState" v-model.trim="form.surname"></b-form-input>
      </b-form-group>

      <b-form-group
        id="townFieldset"
        description="(To pole nie jest wymagane)."
        label="Podaj miejscowość"
        label-for="townInput"
        :invalid-feedback="townInvalidFeedback"
        :state="townState">
        <b-form-input id="townInput" :state="townState" v-model.trim="form.town"></b-form-input>
      </b-form-group>

      <b-form-checkbox
        id="checkbox1"
        v-model="form.receiveInformation">
        Czy chcesz otrzymywać wiadomości e-mail z informacjami o nowych filmach?
      </b-form-checkbox>
      <div><span v-if="form.receiveInformation">Chcę otrzymywać wiadomości z nowościami</span>
        <span v-else>Nie chcę otrzymywać wiadomości</span></div>
      <br>
      <b-button type="submit" variant="primary">Zaloguj</b-button>
      <b-button type="reset" variant="danger">Wyczyść formularz</b-button>
    </b-form>
  </div>
</template>

<script>
  import {loginService} from "../services/login.service";

  export default {
    name: "SignUp",
    data() {
      return {
        form: {
          email: '',
          name: '',
          surname: '',
          town: '',
          credentials: {
            login: '',
            password: '',
          },
          receiveInformation: false
        },
        show: true,
        errors: []
      }
    },
    computed: {
      loginState() {
        return this.form.credentials.login.length >= 4 && this.form.credentials.login.length <= 30;
      },
      loginInvalidFeedback() {
        if (this.form.credentials.login.length >= 4 && this.form.credentials.login.length <= 30) {
          return '';
        } else if (this.form.credentials.login.length > 0 || this.form.credentials.login.length > 30) {
          return 'Login musi składać się z 4 do 30 znaków.';
        } else {
          return 'Login musi składać się z 4 do 30 znaków.';
        }
      },
      emailState() {
        const re = /^(([^<>()\[\]\\.,;:\s@"]+(\.[^<>()\[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
        return re.test(this.form.email);
      },
      emailInvalidFeedback() {
        if (this.emailState === true && this.form.email.length <= 254) {
          return '';
        } else if (this.form.email.length > 0 && this.emailState === false) {
          return 'E-mail nieprawidłowy.';
        } else if (this.form.email.length > 254) {
          return 'Podany e-mail jest zbyt długi.';
        } else {
          return 'Pole e-mail nie może być puste.';
        }
      },
      passwordState() {
        return this.form.credentials.password.length >= 8 && this.form.credentials.password.length <= 60;
      },
      passwordInvalidFeedback() {
        if (this.form.credentials.password.length >= 8 && this.form.credentials.password.length <= 60) {
          return '';
        } else if (this.form.credentials.password.length > 0 || this.form.credentials.password.length > 60) {
          return 'Hasło musi składać się z 8 do 60 znaków.';
        } else {
          return 'Hasło musi składać się z 8 do 60 znaków.';
        }
      },
      nameState() {
        return this.form.name.length <= 30;
      },
      nameInvalidFeedback() {
        if (this.form.name.length <= 30) {
          return '';
        } else {
          return 'To pole może zawierać maksymalnie 30 znaków.';
        }
      },
      surnameState() {
        return this.form.surname.length <= 30;
      },
      surnameInvalidFeedback() {
        if (this.form.surname.length <= 30) {
          return '';
        } else {
          return 'To pole może zawierać maksymalnie 30 znaków.';
        }
      },
      townState() {
        return this.form.town.length <= 30;
      },
      townInvalidFeedback() {
        if (this.form.town.length <= 30) {
          return '';
        } else {
          return 'To pole może zawierać maksymalnie 30 znaków.';
        }
      },
    },
    methods: {
      onSubmit(evt) {
        evt.preventDefault();
        this.errors = [];
        if (!this.loginState) {
          this.errors.push('Błędny login.');
        }
        if (!this.emailState) {
          this.errors.push('Błędny email.');
        }
        if (!this.passwordState) {
          this.errors.push('Błędne hasło.');
        }
        if (!this.nameState) {
          this.errors.push('Błędne imię.');
        }
        if (!this.surnameState) {
          this.errors.push('Błędne nazwisko.');
        }
        if (!this.townState) {
          this.errors.push('Błędna miejscowość.');
        }
        if (this.errors.length === 0) {
          loginService.register(this.form);
          this.$router.push({name: 'Login'});
          return true;
        }
      },
      onReset(evt) {
        evt.preventDefault();
        this.form.login = '';
        this.form.email = '';
        this.form.password = '';
        this.form.name = '';
        this.form.surname = '';
        this.form.town = '';
        this.form.receiveInformation = false;
        this.show = false;
        this.$nextTick(() => {
          this.show = true
        });
      }
    },
  }
</script>

<style lang="scss" scoped>
  .singUpMainWrapper {
    width: 700px;
    margin: 50px auto;

    @media (max-width: 768px) {
      width: 80%;
    }
  }

  h3 {
    text-align: center;
  }

</style>
