<template>
  <div class="user-account-content-wrapper">
    <div class="row">
      <div class="col-sm-5 col-md-3 user-nav-links">
        <b-button block variant="outline-dark" @click="componentName='UserDetails'">Dane użytkownika</b-button>
        <b-button block variant="outline-dark" @click="componentName='UserReservationHistory'">Historia rezerwacji
        </b-button>
        <b-button block variant="outline-dark" @click="componentName='ChangePassword'">Zmiana hasła</b-button>
        <b-button block variant="outline-dark" @click="componentName='UserSubscriptions'">Ustawienia subskrypcji
        </b-button>
      </div>
      <div class="col-sm-7 col-md-9 user-nav-content">
        <component :is="componentName"/>
      </div>
    </div>
  </div>
</template>

<script>
  import {mapActions} from "vuex";

  import ChangePassword from "./ChangePassword";
  import UserDetails from "./UserDetails";
  import UserSubscriptions from "./UserSubscriptions";
  import UserReservationHistory from "./UserReservationHistory";
  import {loginService} from "../services/login.service";

  export default {
    name: "UserAccount",
    components: {UserReservationHistory, UserSubscriptions, UserDetails, ChangePassword},
    data() {
      return {
        componentName: "UserDetails",
      }
    },
    created() {
      loginService.getUserByLogin(loginService.getLogin(localStorage.getItem('user')))
        .then(response => {
          this.setUser(response);
        })
    },
    methods: {
      ...mapActions({
        setUser: 'store/setUserData',
        removeUserData: 'store/removeUserData'
      }),
    },
    destroyed() {
      this.removeUserData();
    }
  }
</script>

<style lang="scss" scoped>
  @import "../scss/colors";

  .user-account-content-wrapper {
    width: 80%;
    text-align: center;
    margin: auto;
    padding: 20px;
  }

  .user-nav-links {
    background-color: $background-additional;
    padding: 0;
  }

  .btn {
    margin: 0;
  }
</style>
