<template>
  <div class="user-subscriptions-content-wrapper">
    <h3 align="center">Ustawienia subskrypcji</h3>
    <b-form>
      <b-form-checkbox
        id="checkbox1"
        v-model="newMovieNotificationStatus">
        Czy chcesz otrzymywać wiadomości e-mail z informacjami o nowych filmach?
      </b-form-checkbox>
    </b-form>
    <div>Status: <span v-if="newMovieNotificationStatus"><strong>Chcę otrzymywać wiadomości z nowościami</strong></span><span
      v-else><strong>Nie chcę otrzymywać wiadomości</strong></span></div>
    <br>
    <b-button type="submit" variant="primary">Zapisz zmiany</b-button>
  </div>
</template>

<script>
  import {mapGetters} from "vuex";
  import {loginService} from "../services/login.service";

  export default {
    name: "UserSubscriptions",
    data() {
      return {
        newMovieNotificationStatus: null,
      }
    },
    created() {
      this.newMovieNotificationStatus = this.userData.receiveInformation;
    },
    methods: {

    },
    computed: {
      ...mapGetters({
        userData: 'store/getUserData',
      }),
    }
  }
</script>

<style>

  .user-subscriptions-content-wrapper {
    text-align: left;
  }

</style>
