<template>
  <div class="user-reservation-history-content-wrapper">
    <h3 align="center">Historia rezerwacji</h3>
    <div class="reservation-entry" v-for="reservation in reservations">
      <div class="row">
        <div class="col">
          <h5>Data seansu:</h5>
          <p style="text-transform: capitalize">{{reservation[0].seat.show.date | showDate}},
            {{reservation[0].seat.show.date | showTime}}</p>
        </div>
        <div class="col">
          <h5>Film i szczegóły seansu</h5>
          <p><b>{{reservation[0].seat.show.movie.title}}</b>, {{reservation[0].seat.show.version}},
            {{reservation[0].seat.show.projection}} </p>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <h5>Kino i sala:</h5>
          <p>{{reservation[0].seat.armchair.room.cinema.town}}, ul. {{reservation[0].seat.armchair.room.cinema.street}}
            {{reservation[0].seat.armchair.room.cinema.building_number}}, sala:
            {{reservation[0].seat.armchair.room.roomNumber}}</p>
        </div>
        <div class="col">
          <h5>Kod potwierdzający:</h5>
          <p>{{reservation[0].confirmatoryCode}}</p>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <h5>Zarezerwowane miejsca:</h5>
          <p v-for="seats in reservation">
            Rząd: <b>{{seats.seat.armchair.row}}</b>, Miejsce: <b>{{seats.seat.armchair.seat_number}}</b>, Typ fotela:
            <b>{{seats.seat.armchair.armchair_type}}</b>
          </p>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
  import {loginService} from "../services/login.service";
  import {mapGetters} from "vuex";
  import showGroupByMixin from "../mixins/showGroupByMixin";
  import showTimeAndDateMixin from "../mixins/showTimeAndDateMixin";

  export default {
    name: "UserReservationHistory",
    data() {
      return {
        reservations: [],
      }
    },
    created() {
      if (this.isLoggedIn) {
        loginService.getReservationByUserLogin(this.userData.credentials.login)
          .then(response => {
            this.reservations = response.data;
            this.reservations = this.groupBy(response.data, (item) => {
              return [item.confirmatoryCode];
            });
          });
      }
    },
    methods: {},
    computed: {
      ...mapGetters({
        userData: 'store/getUserData',
      }),
      isLoggedIn() {
        return !!localStorage.getItem('user');
      },
    },
    mixins: [showGroupByMixin, showTimeAndDateMixin]
  }
</script>

<style lang="scss">
  @import '../scss/colors';

  .user-reservation-history-content-wrapper {
    text-align: left;
  }

  p {
    margin: 0;
  }

  h5 {
    margin-top: 10px;
    margin-bottom: 0;
  }

  .reservation-entry {
    border-radius: 6px;
    border: solid 1px $primary-light;
    background-color: $background-additional;
    padding: 0 10px 10px 10px;
  }
</style>
