<template>
  <div class="user-details-content-wrapper">
    <h3 align="center">Dane użytkownika</h3>
    <b-form>
      <b-form-group
        id="name"
        label="Imię:"
        label-for="nameField">
        <b-form-input
          id="nameField"
          type="text"
          v-model="userData.name"
          disabled/>
      </b-form-group>
    </b-form>
    <b-form>
      <b-form-group
        id="surname"
        label="Nazwisko:"
        label-for="surnameField">
        <b-form-input
          id="surnameField"
          type="text"
          v-model="userData.surname"
          disabled/>
      </b-form-group>
    </b-form>
    <b-form>
      <b-form-group
        id="email"
        label="E-mail:"
        label-for="emailField">
        <b-form-input
          id="emailField"
          type="text"
          v-model="userData.email"
          disabled/>
      </b-form-group>
    </b-form>
    <b-form>
      <b-form-group
        id="town"
        label="Miejscowość:"
        label-for="townField">
        <b-form-input
          id="townField"
          type="text"
          v-model="userData.town"
          disabled/>
      </b-form-group>
    </b-form>
  </div>
</template>

<script>
  import {mapGetters} from "vuex";

  export default {
    name: "UserDetails",
    computed: {
      ...mapGetters({
        userData: 'store/getUserData',
      }),
    }
  }
</script>

<style>

  .user-details-content-wrapper {
    text-align: left;
  }

  label {
    font-weight: bold;
  }

</style>
